img{
	display: block;
	max-width: 100%;
}

#menupage{
	background: transparent;
	background-size: cover;
}

.frosted-glass{
	position: absolute;
	left: 0rem;
	top: 0rem;
	z-index: 0;
	width: 100%;
	height: 100%;
	background: #F8B72A;
}

.menu-box{
	position: relative;
	height: 100%;
	overflow: hidden;
	z-index: 1;
}

.user-msg{
	position: relative;
	height: auto;
	padding: 0.4rem 0rem 0.4rem 0.3rem;
}

.user-msg:after{
	content: "";
	position: absolute;
	width: 100%;
	height: 0.016rem;
    background: rgba(255, 255, 255, 1);
	bottom: 0rem;
	left: 0rem;
}

.user-photo{
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	border: 0.1rem solid #fff;
	overflow: hidden;
}

.user-photo img{
	box-shadow: 0rem 0rem 0.1rem rgba(0,0,0,0.3);
}

.menu-box li{
	padding-left: 0.8rem;
	height: 1rem;
	position: relative;
	font-size: 0.25rem;
	line-height: 1rem;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

.menu-box li:before{
	font-family: "page-icon-font";
	position: absolute;
	width: 0.3rem;
	height: 0.3rem;
	left: 0.3rem;
	top: 0rem;
	color: #fff;
}

.li-home:before{
	content: "\e61d";
}

.li-workshop:before{
	content: "\e63f";
}

.li-lecturer:before{
	content: "\e642";
}

.li-about:before{
	content: "\e63e";
}

.menu-box li:after{
	content: "";
	position: absolute;
	width: 100%;
	height: 0.016rem;
    background: rgba(255, 255, 255, 1);
	bottom: 0.02rem;
	left: 0rem;
}

.menulink{
	color: #fff;
}

.page-header{
	background: #fff;
	border-top: 0.05rem solid #F8B72A;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.page-header img{
	max-width: 2rem;
	float: right;
	margin-top: 0.1rem;
	margin-right: 0.25rem;
}

.page-title{
	position: relative;
	position: relative;
	height: 100%;
	text-align: right;
	line-height: 0.8rem;
	font-size: 0.3rem;
}

.menu:before,.back:before{
	color: #F8B72A;
}


#homepage{
	background:#fff;
}

.page-wrapper{
	position: absolute;
	left: 0rem;
	right: 0rem;
	top: 0.8rem;
	bottom: 0rem;
}

.column{
	position: relative;
	height: auto;
	padding-top: 0.42rem;
}

.column-header{
	position: relative;
	height: auto;
	margin-bottom: 0.17rem;
}

.column-title{
	position: relative;
	height: auto;
	opacity: 0.8;
	color: #000000;
	letter-spacing: 0;
}

.column-cn-title{
	font-size: 0.3rem;
}

.column-en-title{
	font-size: 0.17rem;
}

.column-tips{
	position: absolute;
	height: 100%;
	right: 0rem;
	top: 0rem;
	line-height: 400%;
}

.column-tips[data-mode="no-link"]:after{
	content: "";
	position: absolute;
	right: 0rem;
	top: 0rem;
	height: 100%;
	width: 0.04rem;
	background: #F8B72A;
}

.know-more{
	position: relative;
	opacity: 0.8;
	font-size: 0.23rem;
	color: rgba(0,0,0,0.50);
	letter-spacing: 0;
}

.column-content{
	position: relative;
	height: auto;
}

/*********************/
.home-box{
	position: relative;
	height: auto;
}

.other-sub-logo{
	position: absolute;
	right: 0.25rem;
	top: 0rem;
	width: 2rem;
	background: #d8d8d8;
	z-index: 10;
}

.other-sub-logo img{
	margin: 0 auto;
}

.homepage-container{
	position: relative;
	height: auto;
	padding: 0rem 0.25rem;
	padding-top: 0.1rem;
}

.homepage-banner{
	position: relative;
	height: auto;
}

.actv-workshop{
	position: relative;
	height: auto;
}

.actv-item{
	position: relative;
	height: auto;
}

.actv-item-image{
	position: relative;
	height: auto;
	background: #F7F7F7;
}

.actv-item-msg{
	position: relative;
	height: auto;
	opacity: 0.8;
	font-size: 0.2rem;
	color: #000000;
	letter-spacing: 0;
	padding: 0.17rem 0.17rem 0.17rem 0.42rem;
	background: #F7F7F7;
}

.actv-item-enTitle,.actv-item-cnTitle,.actv-item-lecName,.actv-item-lecJob{
	position: relative;
	height: auto;
}

.actv-item-lecName{
	padding-top: 0.83rem;
}

.actv-item-otherMsg{
	position: absolute;
	right: 0.17rem;
	bottom: 0.17rem;
	text-align: right;
}

/*******************************************/
.past-workshop-box{
	position: relative;
	height: auto;
}

.past-item{
	margin-bottom: 0.17rem;
	position: relative;
	height: auto;
}

.past-item:last-child{
	margin-bottom: 0rem;
}

.past-item-msg{
	position: relative;
	height: auto;
	background: #2C2D2F;
	width: 4.4rem;
	height: 3.13rem;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0.19rem 1.54rem 0.17rem 0.17rem;
	color: #F8B72A;
	letter-spacing: 0;
}

.past-item-cnTitle{
	position: relative;
	height: auto;
	font-size: 0.27rem;
}

.past-item-enTitle{
	font-size: 0.17rem;
	position: relative;
	height: auto;
}

.past-item-lecName{
	position: absolute;
	height: auto;
	font-size: 0.17rem;
	left: 0.17rem;
	bottom: 0.17rem;
}

.past-item-image{
	position: absolute;
	width: 2.7rem;
	height: 2.7rem;
	overflow: hidden;
	right: 0rem;
	top: 0.28rem;
}

.past-item[data-type="1"] .past-item-msg{
	color: #000000;
	background: #F8B72A;
}

/********************************************/
.lecturer-box{
	position: relative;
	height: auto;
}

.lec-item{
	position: relative;
	height: auto;
	width: 1.75rem;
}

.lec-item-image{
	position: relative;
	height: 1.9rem;
	overflow: hidden;
}

.lec-item-job{
	position: relative;
	-webkit-box-sizing : border-box;
	-moz-box-sizing : border-box;
	box-sizing : border-box;
	height: 0.9rem;
	padding: 0.08rem;
	background: #2C2D2F;
	font-size: 0.14rem;
	color: #F8B72A;
	letter-spacing: 0;
}

.lec-item-lecName{
	position: relative;
	height: auto;
	padding-top: 0.08rem;
	font-size: 0.21rem;
	color: #000000;
	letter-spacing: 0;
}

.lec-item[data-type="1"] .lec-item-job{
	background: #F8B72A;
	color: #000000;
}

/************************************************/
.partner-box{
	position: relative;
	height: auto;
}

.partner-box:after{
	position: relative;
	content: "";
	display: block;
	clear: both;
}

.partner-item{
	position: relative;
	height: auto;
	float: left;
	width: 50%;
}

.partner-item-image{
	position: relative;
	height: auto;
	width: 2.8rem;
}

.partner-item-name{
	opacity: 0.8;
	position: relative;
	height: auto;
	font-size: 0.22rem;
	color: rgba(0,0,0,0.80);
	letter-spacing: 0;
	padding: 0.18rem;
}

/*******************************/
.join-box{
	position: relative;
	height: auto;
	background: #2C2D2F;
	height: 1.43rem;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	padding: 0.25rem;
}

.join-text{
	position: relative;
	height: auto;
	font-size: 0.17rem;
	color: #F8B72A;
	letter-spacing: 0;
}

.join-btn{
	position: absolute;
	right: 0.25rem;
	bottom: 0.25rem;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	border: 1px solid #F8B72A;
	text-align: center;
	width: 1.5rem;
	height: 0.43rem;
	line-height: 0.43rem;
	color: #F8B72A;
}

/*********************************/
.about-box{
	position: relative;
	height: auto;
}

.about-introduction{
	position: relative;
	height: auto;
	padding: 0.25rem 0.25rem 0.05rem 0.25rem;
	background: #F8B72A;
}

.about-introduction:after{
	clear: both;
	content: "";
	display: block;
}

.about-text{
	position: relative;
	height: auto;
	opacity: 0.8;
	font-size: 0.17rem;
	color: #000000;
	letter-spacing: 1px;
	line-height: 0.25rem;
}

.about-QRcode{
	position: relative;
	height: auto;
	width: 1.67rem;
	float: right;
	font-size: 0.1rem;
	color: #000000;
	letter-spacing: 2px;
	text-align: center;
	line-height: 0.4rem;
	padding-top: 0.2rem;
}

.about-msg{
	position: relative;
	height: auto;
	padding: 0.25rem;
	background: #10141A;
	font-size: 0.17rem;
	color: #696D7A;
	letter-spacing: 0;
}

.about-msg-name{
	position: relative;
	height: auto;
	color: #fff;
}

.about-msg>div{
	position: relative;
	height: auto;
	margin-bottom: 0.08rem;
}

.about-msg-email{
	padding-bottom: 0.3rem;
	border-bottom: 3px solid #FFFFFF;
}

.logo-bottom{
	width: 0.69rem;
	padding-top: 0.2rem;
}

/**********other page**********/
#page-menu .page{
	padding: 0rem 0.25rem;
}

#page-menu .page-title{
	text-align: center;
	color: #F8B72A;
}

#page-menu .lec-item{
	float: left;
	width: 50%;
	padding-bottom: 0.2rem;
}

#page-menu .lec-item-image{
	width: 2.8rem;
	height: 3.05rem;
}

#page-menu .lecturer-box:after{
	content: "";
	clear: both;
	display: block;
}

#page-menu .lec-item-job{
	width: 2.8rem;
	font-size: 0.2rem;
	height: 1.2rem;
	padding: 0.1rem;
}

#page-menu .about-timeline{
	position: relative;
	height: auto;
	padding-top: 0.2rem;
}

#page-menu .timeline-ul{
	position: relative;
	height: auto;
	opacity: 0.8;
	font-family: "PingFangSC-Medium","Hiragino Sans GB", "Microsoft YaHei","WenQuanYi Micro Hei";
	font-size: 0.17rem;
	color: #000000;
	letter-spacing: 1px;
}

#page-menu .timeline-list{
	position: relative;
	font-family: "PingFangSC-Regular","Hiragino Sans GB", "Microsoft YaHei","WenQuanYi Micro Hei";
	padding-top: 0.18rem;
}

#page-menu .about-QRcode{
	position: absolute;
	right: 0.25rem;
	bottom: 0.25rem;
}

#page-menu #center-page{
	padding: 0rem;
}

#page-menu .center-banner{
	position: relative;
	height: 1.78rem;
	overflow: hidden;
}

#page-menu .center-msg{
	position: relative;
	height: auto;
	padding: 0rem 0.32rem;
}

#page-menu .center-msg-item{
	position: relative;
	height: auto;
	padding: 0.32rem 0rem;
	-webkit-box-sizing: box-sizing;
	-moz-box-sizing: box-sizing;
	box-sizing: box-sizing;
	border-bottom: 1px solid #F1F1F1;
	opacity: 0.8;
	font-size: 0.22rem;
	color: #000000;
	letter-spacing: 0;
}

#page-menu .msg-first-item{
	padding: 0.75rem 0rem;
}

#page-menu .center-msg-item:after{
	content: "";
	display: block;
	clear: both;
}

#page-menu .center-label{
	float: left;
	position: relative;
	height: auto;
}

#page-menu .user-head{
	position: absolute;
	width: 0.97rem;
	height: 0.97rem;
	border-radius: 50%;
	overflow: hidden;
	left: 0rem;
	top: -0.45rem;
	border: 1px solid #fff;
	-webkit-box-sizing: box-sizing;
	-moz-box-sizing: box-sizing;
	box-sizing: box-sizing;
}

#page-menu .user-name{
	float: left;
	position: relative;
	height: auto;
	opacity: 0.8;
	font-size: 0.35rem;
	color: #000000;
	letter-spacing: 1.87px;
	font-weight: bold;
}

#page-menu .user-edit{
	position: relative;
	height: 0.4rem;
	width: 1.2rem;
	-webkit-box-sizing: box-sizing;
	-moz-box-sizing: box-sizing;
	box-sizing: box-sizing;
	text-align: center;
	line-height: 0.4rem;
	border: 2px solid #000000;
	font-size: 0.2rem;
	float: right;
}

#page-menu .user-job,#page-menu .user-workyear{
	float: right;
	height: auto;
	position: relative;
	opacity: 0.5;
}

#page-menu .center-detail{
	position: relative;
	height: auto;
	padding: 0rem 0.32rem;
}

#page-menu .center-detail-nav{
	position: relative;
	height: auto;
	padding: 0.39rem 0rem 0.23rem 0rem;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-bottom: 1px solid #F6F6F6;
}

#page-menu .center-detail-nav:after{
	content: "";
	display: block;
	clear: both;
}

#page-menu .center-detail-list{
	position: relative;
	height: auto;
	float: left;
	opacity: 0.5;
	font-size: 0.21rem;
	color: #000000;
	letter-spacing: 0;
	margin-right: 1.38rem;
}

#page-menu .center-detail-list:last-child{
	margin-right: 0rem;
}

#page-menu .detail-choose{
	opacity: 0.8;
}

#page-menu .detail-choose:after{
	position: absolute;
	content: "";
	display: block;
	width: 100%;
	height: 0.07rem;
	background: #E98F2E;
	left: 0rem;
	bottom: -0.23rem;
}

#page-menu .center-detail-content{
	position: relative;
	height: auto;
	padding-top: 0.38rem;
}

#page-menu .enroll-item{
	position: relative;
	height: auto;
	margin-bottom: 0.18rem;
}

#page-menu .enroll-item-image{
	height: 1.44rem;
	overflow: hidden;
}

#page-menu .enroll-item-msg{
	position: relative;
    height: auto;
    opacity: 0.8;
    font-size: 0.2rem;
    color: #000000;
    letter-spacing: 0;
	padding-left: 0rem;
}

#page-menu .enroll-base-msg{
	position: relative;
	height: auto;
	padding-left: 0.08rem;
	max-width: 3.8rem;
}

#page-menu .enroll-item-lecName{
	padding-top: 0.51rem;
	color: #E9752E;
}

#page-menu .enroll-item-enTitle,#page-menu .enroll-item-cnTitle{
	position: relative;
	height: auto;
}

#page-menu .enroll-other-msg-box{
	position: absolute;
	left: 3.92rem;
	top: 0rem;
	bottom: 0.33rem;
	right: 0rem;
	background: #EDEDED;
}

#page-menu .enroll-item-otherMsg{
	position: absolute;
    right: 0rem;
    bottom: 0rem;
    text-align: right;
    padding-right: 0.08rem;
}

#page-menu .enroll-status-box{
	position: relative;
	height: 0.33rem;
	line-height: 0.33rem;
	background: #DBDBDB;
	font-size: 0.2rem;
	color: #FFFFFF;
	letter-spacing: 0;
	padding:0rem 0.08rem;
}

#page-menu .enroll-status-box:after{
	content: "";
	clear: both;
	display: block;
}

#page-menu .enroll-hasEnrolled{
	position: relative;
	height: auto;
	float: left;
}

#page-menu .enroll-hasPassed{
	position: relative;
	height: auto;
	float: right;
	color: #000;
}

#page-menu .enroll-hasPassed[data-status="unpass"]{
	opacity: 0.5;
}

#page-menu .enroll-hasPassed[data-status="pass"]{
	color: #E98F2E;
}