*{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

html,body{
	position: relative;
	height: 100%;
	overflow: hidden;
}

img{
	display: block;
	max-width: 100%;
}

#container{
	position: relative;
	height: 100%;
	display: none;
}

.swiper-container,.swiper-wrapper,.swiper-slide{
	height: 100%;
}

.page{
	position: relative;
	height: 100%;
	max-width: 6.25rem;
	margin: 0 auto;
	background: #222;
	overflow: hidden;
	color: #fff;
}

.page-bg{
	position: absolute;
	left: 0rem;
	top: 0rem;
	width: 100%;
	height: 100%;
	z-index: 0;
	overflow: hidden;
}

.page-content{
	position: relative;
	height: 100%;
}

.page1-center{
	position: absolute;
	left: 50%;
	top: 3.384rem;
	-webkit-transform: translate(-50%,0%);
	transform: translate(-50%,0%);
	width: 4.28rem;
	height: 4.28rem;
}

.ui-page1-rotate{
	position: absolute;
	width: 4.108rem;
	left: 0.09rem;
	top: -0.61rem;
	z-index: 2;
	-webkit-animation: rotate-loop 4s linear infinite ;
	animation: rotate-loop 4s linear infinite ;
}

.ui-page1-earth{
	position: absolute;
	z-index: 1;
	left: 50%;
	top: -0.6rem;
	-webkit-transform: translate(-50%,0%);
	transform: translate(-50%,0%);
	-webkit-animation: earth-loop 3s linear infinite ;
	animation: earth-loop 3s linear infinite ;
	width: 4.117rem;
}

.ui-left-text{
	position: absolute;
	width: 4.392rem;
	left: -0.6rem;
	top: 0.2rem;
	z-index: 3;
	-webkit-transition: all 1s ease-out;
	transition: all 1s ease-out;
	opacity: 0;
	-webkit-transform : translate(-0.4rem,0rem);
	transform : translate(-0.4rem,0rem);
}

.page-active .ui-left-text{
	opacity: 1;
	-webkit-transform : translate(0rem,0rem);
	transform : translate(0rem,0rem);
}

.ui-right-text{
	position: absolute;
	width: 4.408rem;
	left: 0.6rem;
	top: 1.2rem;
	z-index: 3;
	-webkit-transition: all 1s ease-out 1s;
	transition: all 1s ease-out 1s;
	opacity: 0;
	-webkit-transform : translate(0.4rem,0rem);
	transform : translate(0.4rem,0rem);
}

.page-active .ui-right-text{
	opacity: 1;
	-webkit-transform : translate(0rem,0rem);
	transform : translate(0rem,0rem);
}

.ui-canvas-loop{
	position: absolute;
	width: 0.867rem;
	height: 1.6rem;
	left: -0.84rem;
	bottom: 0.3rem;
	overflow: hidden;
}

#canvas-loop{
	max-width: 100%;
}

.ui-arrow-loop{
	position: absolute;
	width: 0.842rem;
	left: 50%;
	bottom: -1.2rem;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	-webkit-animation: arrow-loop 2s linear infinite;
	animation: arrow-loop 2s linear infinite;
}

.ui-page1-btn{
	position: absolute;
	width: 2.908rem;
	left: 45%;
	-webkit-transform: translateX(-50%) translateY(0.3rem);
	transform: translateX(-50%) translateY(0.3rem);
	bottom: -3.13rem;
	-webkit-transition: all 1s linear 2s;
	transition: all 1s linear 2s;
	opacity: 0;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.page-active .ui-page1-btn{
	opacity: 1;
	-webkit-transform: translateX(-50%) translateY(0rem);
	transform: translateX(-50%) translateY(0rem);
}

/**/
.page2-center{
	position: absolute;
	top: 3.8rem;
	left: 50%;
	-webkit-transform: translate(-46%,0%);
	transform: translate(-46%,0%);
	width: 3.5rem;
	height: 3rem;
}

.page-2 .ui-arrow-loop{
	left: 47%;
}

.page2-text-box{
	position: absolute;
	left: 0rem;
	top: -0.5rem;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.page2-text-box>pre{
	padding-top: 0.3rem;
	font-family: "tencentFont";
	font-size: 0.3rem;
	color: #ddf7ff;
	text-shadow: 0rem 0rem 0.1rem rgba(6,9,27,0.5);
	line-height: 1.4;
}

.dian-loop{
	position: absolute;
	z-index: 2;
	width: 0.075rem;
	height: auto; /*0.283rem*/
	right: -0.526rem;
	bottom: -0.28rem;
}

.dian-item{
	position: relative;
	padding-bottom: 1px;
	display: none;
}

.dian-loop>.dian-item:last-child{
	padding-bottom: 0px;
}

.dian-loop[data-id="1"] .di-1{
	display: block;
}

.dian-loop[data-id="2"] .di-1,.dian-loop[data-id="2"] .di-2{
	display: block;
}

.dian-loop[data-id="3"] .di-1,.dian-loop[data-id="3"] .di-2,.dian-loop[data-id="3"] .di-3{
	display: block;
}

.dian-loop[data-id="4"] .di-1,.dian-loop[data-id="4"] .di-2,.dian-loop[data-id="4"] .di-3,.dian-loop[data-id="4"] .di-4{
	display: block;
}

.dian-loop[data-id="5"] .dian-item{
	display: block;
}

.icon-box{
	position: absolute;
	width: 100%;
	height: 0.617rem;
	left: 0.82rem;
	bottom: -1.41rem;
}

.icon-item{
	position: absolute;
	width: 0.617rem;
	height: 0.617rem;
	left: 0rem;
	top: 0rem;
}

.icon-chilun{
	left: -0.24rem;
	-webkit-animation: rotate-loop 5s linear infinite;
	animation: rotate-loop 5s linear infinite;
}

.icon-zhiwen{
	left: 1.1rem;
	-webkit-animation: icon-fade 3s linear infinite;
	animation: icon-fade 3s linear infinite;
}

.icon-home{
	left: 2.4rem;
	-webkit-animation: icon-fade 3s linear infinite;
	animation: icon-fade 3s linear infinite;
}

/****/
.page3-center{
	position: absolute;
    left: 50%;
    top: 0.94rem;
    width: 2.3rem;
    height: 2.3rem;
    margin-left: 0.06rem;
    -webkit-transform: translate(-50%,0%);
    transform: translate(-50%,0%);
}

.page3-title{
	position: absolute;
	width: 65%;
	height: auto;
	z-index: 3;
	font-family: "tencentFont";
	font-size: 0.6rem;
	color: #ddf7ff;
	text-shadow: 0rem 0rem 0.14rem rgba(84,176,255,1);
	left: 50%;
	top: 50%;
	text-align: center;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	line-height: 1.1;
}

.page3-rotate-loop{
	position: absolute;
	left: 0rem;
	top: 0rem;
	width: 100%;
	height: 100%;
	z-index: 2;
	-webkit-animation: rotate-loop 4s linear infinite;
    animation: rotate-loop 4s linear infinite;
}

.page3-earth-loop{
	position: absolute;
	left: 0rem;
	top: 0rem;
	width: 100%;
	height: 100%;
	z-index: 0;
	-webkit-animation: earth-loop2 4s linear infinite;
    animation: earth-loop2 4s linear infinite;
}

.page3-circle-box{
	position: absolute;
	left: 0rem;
	top: 2.92rem;
	width: 100%;
	height: 5.8rem;
}

.page3-circle-item{
	position: relative;
	height: 1.933rem;
}

.page3-circle-loop{
	position: absolute;
	z-index: 1;
	width: 0.9rem;
	left: -0.3rem;
	top: -0.32rem;
	-webkit-animation: circle-loop2 10s linear infinite;
	animation: circle-loop2 10s linear infinite;
}

.p3cl-2{
	-webkit-animation: circle-loop2 12s linear 2s infinite;
	animation: circle-loop2 12s linear 2s infinite;
}

.p3cl-3{
	top: -0.18rem;
	-webkit-animation: circle-loop2 8s linear 4s infinite;
	animation: circle-loop2 8s linear 4s infinite;
}

.page3-text{
	position: absolute;
	left: -0.4rem;
	top: 0.3rem;
	text-align: center;
	width: 3rem;
	font-family: "tencentFont";
	font-size: 0.6rem;
	color: #ddf7ff;
	text-shadow: 0rem 0rem 0.14rem rgba(84,176,255,1);
	z-index: 3;
}

.p3t-2{
	top: 0.36rem;
}

.p3t-3{
	top: 0.5rem;
}

/******/

.page4-center,.page8-center,.page12-center{
	position: absolute;
	width: 3.7rem;
	height: 2.8rem;
	left: 50%;
	top: 3.7rem;
	-webkit-transform:translate(-50%,0%);
	transform:translate(-50%,0%);
}

.page-nav-lists{
	position: absolute;
	width: 4.5rem;
    height: 0.62rem;
    top: -3.32rem;
    left: -0.4rem;
}

.page-nav-lists:after{
	content: "";
	display: block;
	clear: both;
}

.page-nav-list{
	position: relative;
	height: 100%;
	width: 1.5rem;
	float: left;
}

.page4-text,.page8-text,.page12-text{
	position: relative;
	height: 100%;
	padding: 0.21rem;
	font-family: "tencentFont";
	font-size: 0.265rem;
	color: #ddf7ff;
	text-shadow: 0rem 0rem 0.1rem rgba(6,9,27,0.5);
	line-height: 1.75;
	box-sizing: border-box;
}

.page4-text{
	width: 92%;
    margin: 0 auto;
    margin-top: -0.57rem;
    height: 3.3rem;
}

.page4-bar{
	position: relative;
	height: 1px;
	background: #45b893;
	box-shadow: 0px -1px 20px 2px #45b893;
	-webkit-animation: scan 5s linear infinite;
    animation: scan 5s linear infinite;
}

.page12-text{
	padding: 0.7rem 0.35rem;
}

.page4-text2,.page8-text2,.page12-text2{
	position: absolute;
	left: -1rem;
	top: 4rem;
	width: 5.8rem;
	text-align: center;
	height: auto;
	font-family: "tencentFont";
	font-size: 0.32rem;
	color: #ddf7ff;
	text-shadow: 0rem 0rem 0.1rem rgba(6,9,27,0.5);
	opacity: 0;
	-webkit-transition: all 0.6s ease-out;
	transition: all 0.6s ease-out;
	-webkit-transform: translate(-0.2rem,0rem);
	transform: translate(-0.2rem,0rem);
}

.page4-text2{
	top: 3.7rem;
}

.page8-text2{
	font-size: 0.3rem;
}

.page-active .page4-text2,.page-active .page8-text2,.page-active .page12-text2{
	-webkit-transform: translate(0rem,0rem);
	transform: translate(0rem,0rem);
	opacity: 1;
}

.page-4 .ui-arrow-loop,.page-8 .ui-arrow-loop,.page-12 .ui-arrow-loop{
	bottom: -3.4rem;
}

.loading{
	position: fixed;
	left: 0rem;
	top: 0rem;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background: #222;
	text-align: center;
	color: #fff;
	font-size: 0.3rem;
}

.loading-content{
	position: absolute;
	left: 0rem;
	top: 50%;
	width: 100%;
	height: auto;
	box-sizing: border-box;
	padding: 0rem 0.2rem;
	-webkit-transform: translate(0%,-50%);
	transform: translate(0%,-50%);
}

.loading-text{
	position: relative;
	height: auto;
	padding: 0.1rem 0rem;
	text-align: center;
	font-size: 0.25rem;
	color: #ddf7ff;
}

.loading-progress{
	position: relative;
	width: 0%;
	height: 0.06rem;
	background: #65da90;
	margin-top: 0.2rem;
	border-radius: 0.03rem;
	-webkit-transition: width 0.7s linear;
	transition: width 0.7s linear;
}

.music-icon{
	position: fixed;
	z-index: 800;
	right: 0.25rem;
    top: 0.44rem;
    width: 0.5rem;
    height: 0.5rem;
	-webkit-animation: rotate-loop 5s linear infinite;
	animation: rotate-loop 5s linear infinite;
}

/*************************Animate***************************/
@-webkit-keyframes arrow-loop{
	0%{
		opacity: 0.2;
		-webkit-transform:translateX(-50%) translateY(-0.2rem);
	}

	100%{
		opacity: 1;
		-webkit-transform:translateX(-50%) translateY(0.2rem);
	}
}

@keyframes arrow-loop{
	0%{
		opacity: 0.2;
		transform:translateX(-50%) translateY(-0.2rem);
	}

	100%{
		opacity: 1;
		transform:translateX(-50%) translateY(0.2rem);
	}
}

@-webkit-keyframes rotate-loop{
	0%{
		-webkit-transform: rotate(0deg);
	}

	100%{
		-webkit-transform: rotate(359deg);
	}
}

@keyframes rotate-loop{
	0%{
		transform: rotate(0deg);
	}

	100%{
		transform: rotate(359deg);
	}
}

@-webkit-keyframes earth-loop{
	0%{
		-webkit-transform: translate(-50%,0%) rotate(360deg);
	}

	100%{
		-webkit-transform: translate(-50%,0%) rotate(1deg);
	}
}

@keyframes earth-loop{
	0%{
		transform: translate(-50%,0%) rotate(360deg);
	}

	100%{
		transform: translate(-50%,0%) rotate(1deg);
	}
}

@-webkit-keyframes icon-fade{
	0%{
		opacity: 0;
	}

	50%{
		opacity: 1;
	}

	100%{
		opacity: 0;
	}
}

@keyframes icon-fade{
	0%{
		opacity: 0;
	}

	50%{
		opacity: 1;
	}

	100%{
		opacity: 0;
	}
}

@-webkit-keyframes earth-loop2{
	0%{
		-webkit-transform: rotate(360deg);
	}

	100%{
		-webkit-transform: rotate(1deg);
	}
}

@keyframes earth-loop2{
	0%{
		transform: rotate(360deg);
	}

	100%{
		transform: rotate(1deg);
	}
}


@-webkit-keyframes circle-loop2{
	0%{
		-webkit-transform: translate(0rem,0rem) rotate(0deg);
	}

	33%{
		-webkit-transform: translate(2rem,0rem) rotate(1800deg);
	}

	66%{
		-webkit-transform: translate(1rem,1.54rem) rotate(3600deg);
	}

	100%{
		-webkit-transform: translate(0rem,0rem) rotate(5399deg);
	}
}

@keyframes circle-loop2{
	0%{
		transform: translate(0rem,0rem) rotate(0deg);
	}

	33%{
		transform: translate(2rem,0rem) rotate(1800deg);
	}

	66%{
		transform: translate(1rem,1.54rem) rotate(3600deg);
	}

	100%{
		transform: translate(0rem,0rem) rotate(5399deg);
	}
}

@-webkit-keyframes scan{
	0%{
		-webkit-transform: translate(0rem,0rem);
	}

	100%{
		-webkit-transform: translate(0rem,2.9rem);
	}
}

@keyframes scan{
	0%{
		transform: translate(0rem,0rem);
	}

	100%{
		transform: translate(0rem,2.9rem);
	}
}

/***********************************************************/
@font-face
{
	font-family: "tencentFont";
	src: url('../font/tencent.otf') format('opentype');
}