//init
.transform( @x : 0px, @y : 0px, @z : 0px ){
	-webkit-transform : translate3d( @x, @y, @z );
	-o-transform : translate3d( @x, @y, @z );
	-moz-transform : translate3d( @x, @y, @z );
	transform : translate3d( @x, @y, @z );
}

.scale( @x : 1, @y : 1 ){
	-webkit-transform : scale( @x, @y );
	-o-transform : scale( @x, @y );
	-moz-transform : scale( @x, @y );
	transform : scale( @x, @y );
}

.rotate( @angel : 0deg ){
	-webkit-transform : rotate( @angel );
	-o-transform : rotate( @angel );
	-moz-transform : rotate( @angel );
	transform : rotate( @angel );
}

.transition( @prop : transform, @timing : linear, @duration : 0.1s, @delay : 0s ){
	-webkit-transition: ~"-webkit-@{prop}" @duration @timing  @delay;
	-moz-transition: ~"-moz-@{prop}" @duration @timing  @delay;
	-o-transition: ~"-o-@{prop}" @duration @timing  @delay;
	transition: @prop @duration @timing  @delay;
}

.animation( @name, @timing : linear, @duration : 0.1s, @delay : 0s, @count : infinite ){
	-webkit-animation: @name @duration @timing  @delay @count;
	-moz-animation: @name @duration @timing  @delay @count;
	-o-animation: @name @duration @timing  @delay @count;
	animation: @name @duration @timing  @delay @count;
}

.transition-normal( @prop : width, @timing : linear, @duration : 0.5s, @delay : 0s ){
	-webkit-transition: @prop @duration @timing  @delay;
	-moz-transition: @prop @duration @timing  @delay;
	-o-transition: @prop @duration @timing  @delay;
	transition: @prop @duration @timing  @delay;
}

.shadow( @x : 0px, @y : 0px, @dive : 0px, @color : rgba(0,0,0,0.7) ){
	-webkit-box-shadow : @x @y @dive @color;
	-moz-box-shadow : @x @y @dive @color;
	-o-box-shadow : @x @y @dive @color;
	box-shadow : @x @y @dive @color;
}

.transform-style( @perspective : 600px ){
	-webkit-transform-style : preserve-3d;	
	transform-style : preserve-3d;
	-webkit-perspective : @perspective;
	perspective : @perspective;
}

.position-stand( @height : auto , @position : relative ){
	position : @position;
	height : @height;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.position( @left : 0px, @top : 0px ){
	left : @left ;
	top : @top ;
}

.linear-gradient( @start : #000, @end : #000 ){
	background : -webkit-linear-gradient(to bottom,@start,@end);
	background : linear-gradient(to bottom,@start,@end);
};

.clear(){
	content:"";
	display:block;
	clear:both;
}

/*******all*********/
html,body{
	overflow-x: hidden;
}

#content{
	.position-stand();
}

img{
	display : block;
}

/****************nav*******************/

.nav-container{
	.position-stand(49px,fixed);
	.position();
	min-width: 1024px;
	width:100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background : #000;
	padding: 0px 24px;
	z-index : 5;
	overflow: hidden;
}

.nav-container:after{
	content:"";
	display:block;
	clear:both;
}

.left-logo{
	.position-stand();
	padding-top: 13px;
	float: left;
}

.right-items{
	.position-stand(100%);
	line-height: 49px;
	float: right;
}

.right-items:after{
	content:"";
	display:block;
	clear:both;
}

.nav-item{
	.position-stand();
	font-size: 14px;
	color : #fff;
	font-family:'Source-Han-Lighc9456bed017b9f';
	float:left;
	&:after{
		display : block;
		content : "";
		.position-stand(2px,absolute);
		.transition-normal(all,ease-out,0.2s,0s);
		left: 50%;
		width: 0%;
		margin-left: 0%;
		bottom: 0px;
		background: #ffec38;
	}

	&:hover{
		&:after{
			width : 120%;
			margin-left: -60%;
		}
	}
}

.ni-1{
	margin-right:62px;
}

.ni-2{
	margin-right:60px;
}

.ni-3{
	margin-right:58px;
}

.ni-4{
	margin-right:62px;
}

.ni-5{
	margin-right:63px;
}

.ni-6{
	margin-right:77px;
}

/****************nav end*******************/

/*************pull*************/

.pull{
	.position-stand(66px,absolute);
	width:1px;
	background : #fff;
	z-index : 4;
	.animation(pull,linear,1s);
}

.pull-bar{
	.position-stand(6px,absolute);
	width:6px;
	border-radius: 50%;
	top : -3px;
	left : -3px;
	background : #fff;
}

.pull-yellow,.pull-yellow .pull-bar{
	background : #ffec38;
}

.pull-1{
	left : 50%;
}


@-webkit-keyframes pull{
	0%{
		bottom : 0px;
	}

	50%{
		bottom : -8px;
	}

	100%{
		bottom : 0px;
	}
}

@-moz-keyframes pull{
	0%{
		bottom : 0px;
	}

	50%{
		bottom : -8px;
	}

	100%{
		bottom : 0px;
	}
}

@-o-keyframes pull{
	0%{
		bottom : 0px;
	}

	50%{
		bottom : -8px;
	}

	100%{
		bottom : 0px;
	}
}

@keyframes pull{
	0%{
		bottom : 0px;
	}

	50%{
		bottom : -8px;
	}

	100%{
		bottom : 0px;
	}
}

/*************pull end*****************/

/****************first page*******************/
.mouser-container{
	.position-stand( unit( `document.documentElement.clientHeight`, px ) );
	overflow : hidden;
	.linear-gradient( #252525, #0c0c0c );
}

.mouser-wrapper{
	.position-stand( 279px, absolute );
	.transform-style();
	width : 374px;
	.position( 50%, 50% );
	margin-left : -187px;
	margin-top : -140px;
}

.float-trans{
	.transition() !important;
}

.float-item{
	.position-stand( auto, absolute );
	.shadow(2px,8px,150px,rgba(0,0,0,0.5));
	overflow : hidden;
	.float-layer{
		.position-stand(100%,absolute);
		z-index : 1;
		width: 100%;
		background: rgba(0,0,0,0.6);
	}
	&:hover{
		cursor: pointer;
		.float-layer{
			background: none;
		}
		.transform(0px,0px,10px) !important;
	}
}

.f-item-0{
	.transform( 0px, 0px, 1px );
	.position( 50%, 50%);
	margin-left : -533px;
	margin-top : -533px;
	.shadow(0px,0px,0px,rgba(0,0,0,0));
	&:hover{
		.transform(0px,0px,1px) !important;
	}
}


.f-item-1{
	.transform( 0px, 0px, 2px );
	.transition-normal(all,linear,0.4s,0s);
	.position( 79px, 52px);
	opacity : 0;
}

.page-end .f-item-1{
	.position( -117px, -44px);
	opacity : 1;
}

.f-item-2{
	.transform( 0px, 0px, 2px );
	.transition-normal(all,linear,0.45s,0s);
	.position( 47px, 48.5px);
	opacity : 0;
}

.page-end .f-item-2{
	.position( 228px, -72px);
	opacity : 1;
}

.f-item-3{
	.transform( 0px, 0px, 2px );
	.transition-normal(all,linear,0.3s,0s);
	.position( -42px, -12px);
	opacity : 0;
}

.page-end .f-item-3{
	.position( -102px, 72px);
	opacity : 1;
}

.f-item-4{
	.transform( 0px, 0px, 2px );
	.transition-normal(all,linear,0.6s,0s);
	.position( 67.5px, 62px);
	opacity : 0;
}

.page-end .f-item-4{
	.position( 255px, 144px);
	opacity : 1;
}

.f-item-5{
	.transform( 0px, 0px, 3px );
	.position( 0px, 0px);
	.shadow(0px,0px,0px,rgba(0,0,0,0));
}

.item-wrapper{
	.position-stand(100%,absolute);
	.position( 50%, 0%);
	width : 150px;
	margin-left : -75px;
	overflow : hidden;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color : #fff;
	text-align: center;
	padding-top: 40px;
}

.item-wrapper img{
	margin: 0 auto;
}

.item-wrapper .text{
	font-family:'Century-Gothic-c943d4e4d17b9f';
	font-size : 54px;
}

.left-text{
	.position-stand();
	.transition(transform,ease-out,0.8s,0s);
	.transform(-150px,0px,1px);
}

.right-text{
	.position-stand();
	.transition(transform,ease-out,0.8s,0s);
	.transform(150px,0px,1px);
}

.page-end .left-text{
	.transform(0px,0px,1px);
}

.page-end .right-text{
	.transform(0px,0px,1px);
}

.f-item-6{
	.transform( 0px, 0px, 1px );
	.position( 0px, 0px);
	.shadow(0px,0px,0px,rgba(0,0,0,0));
	width : 100%;
	height: 100%;
	overflow : visible;
}

@keyframes f-type1{
	0%{
		margin-left: 0px;
		margin-top : 0px
	}

	20%{
		margin-left: -10px;
		margin-top : 7px
	}

	50%{
		margin-left: -5px;
		margin-top : 14px
	}

	80%{
		margin-left: 7px;
		margin-top : 4px
	}

	100%{
		margin-left: 0px;
		margin-top : 0px
	}
}

@keyframes f-type2{
	0%{
		margin-left: 0px;
		margin-top : 0px
	}

	20%{
		margin-left: 3px;
		margin-top : 4px
	}

	50%{
		margin-left: -5px;
		margin-top : 6px
	}

	80%{
		margin-left: 3px;
		margin-top : 1px
	}

	100%{
		margin-left: 0px;
		margin-top : 0px
	}
}

@keyframes f-type3{
	0%{
		margin-left: 0px;
		margin-top : 0px
	}

	20%{
		margin-left: 2px;
		margin-top : 1px
	}

	50%{
		margin-left: -2px;
		margin-top : 3px
	}

	80%{
		margin-left: 3px;
		margin-top : 1px
	}

	100%{
		margin-left: 0px;
		margin-top : 0px
	}
}

.f-icon{
	.animation(f-type2,linear,3s,0s);
}

.rect-1,.circle-2{
	.animation(f-type1,linear,4s,0s);
}

.rect-3,.circle-1{
	.animation(f-type3,linear,2s,0s);
}

.rect{
	.position-stand( auto, absolute );
	.transition-normal(all,ease-out,0.4s,0s);
	.scale(1.2,1.2);
	.position( 177.5px, 130px);
	width : 19px;
	height: 19px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	opacity : 0;
	z-index : 5;
}

.rect-1{
	border : 6px solid #ffec38;
}

.rect-2{
	border : 6px solid #fff;
}

.rect-3{
	width : 12px;
	height: 12px;
	border : 3px solid #fff;
}

.page-end .rect-1{
	.position( -192px, 46px);
	opacity : 1;
}

.page-end .rect-2{
	.position( 328px, -122px);
	opacity : 1;
}

.page-end .rect-3{
	.position( 452px, 375px);
	opacity : 1;
}

.circle{
	.position-stand( auto, absolute );
	.transition-normal(all,ease-out,0.5s,0s);
	.scale( 1.2, 1.2 );
	.position( 182px, 134.5px);
	width : 10px;
	height: 10px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background: #fff;
	border-radius : 50%;
	opacity : 0;
	z-index : 5;
}

.circle-2{
	background : #ffec38;
}

.circle-4{
	width : 6px;
	height : 6px;
}

.page-end .circle-1{
	.position( -152px, -130px);
	opacity : 1;
}

.page-end .circle-2{
	.position( 602px, 198px);
	opacity : 1;
}

.page-end .circle-4{
	.position( -150px, 300px);
	opacity : 1;
}

/****************first page end*******************/

/****************last page*******************/

.map-container{
	.position-stand( unit( `document.documentElement.clientHeight`, px ) );
	overflow : hidden;
	background: url("../images/map.png") no-repeat top center;
	background-size: cover;
}

.map-bg{
	.position-stand(100%,absolute);
	width: 100%;
	z-index:0;
	overflow: hidden;
}

.map-wrapper{
	.position-stand(100%);
	width: 1024px;
	margin: 0 auto;
}

.map-title{
	.position-stand();
	width: 250px;
	padding-top: 106px;
	/*padding-left: 91px;*/
	font-family:'Century-Gothic-c943d4e4d17b9f';
	font-size: 60px;
	line-height: 1.2;
}

.selector-box{
	.position-stand();
	width: 460px;
	margin-top:76px;
	/*padding-left: 91px;*/
}

.selector{
	.position-stand(62px);
	width: 370px;
	border: 1px solid #313131;
	line-height: 62px;
	background: rgba(255,255,255,0.7);
}

.selector:hover{
	cursor: pointer;
}

.sel-item-2{
	margin-top: 13px;
}

.selector-val,.selector-item{
	font-family:'Source-Han-Sansc94b3fcbf17b9f';
	font-size: 16px;
	padding-left: 20px;
}

.selector-item{
	border-bottom: 1px solid #313131;
}

.selector-wrapper{
	.position-stand(auto,absolute);
	.position(0px,61px);
	width: 100%;
	background: #fff;
	z-index : 2;
	border-left: 1px solid #313131;
	border-right: 1px solid #313131;
	border-bottom: 1px solid #313131;
	margin-left: -1px;
	margin-right: -1px;
}

.selector-wrapper .selector-item:last-child{
	border-bottom: none;
}

.mendian{
	height : 155px;
	overflow: hidden;
}

.selector-icon{
	.position-stand(13px,absolute);
	width: 25px;
	right: 20px;
	top: 25px;
}

.selector-btn{
	.position-stand(56px);
	display: block;
	color: #fff;
	outline: none;
	border: none;
	width: 133px;
	background: #313131;
	/*padding-left: 91px;*/
	margin-top: 81px;
	font-family:'Source-Han-Sansc94b3fcbf17b9f';
	font-size: 20px;
}

.selector-btn:hover{
	cursor : pointer;
}

/****************last page end*******************/

/****************video page*******************/
.video-container{
	.position-stand( unit( `document.documentElement.clientHeight`, px ) );
	overflow : hidden;
	background: linear-gradient(to bottom, #252525, #0c0c0c);
}

.video-wrapper{
	.position-stand(100%);
	width: 1024px;
	margin: 0 auto;
	background: url("../images/bg2.png") no-repeat top center;
	background-size: cover;
}

.video-box{
	.position-stand(497px,absolute);
	width: 953px;
	.position(50%,93px);
	margin-left: -476.5px;
	.scale(0.7,0.7);
}

.video-title{
	.position-stand(auto,absolute);
	width: 100%;
	text-align: center;
	color: #eee;
	font-family: 'Century-Gothic-c943d4e4d17b9f';
	font-size: 66px;
	font-weight: bolder;
	.position(0px,-130px);
}

.video-border{
	.position-stand(72px,absolute);
	width: 72px
}

.vb-1{
	.position(-40px,-40px);
}

.vb-2{
	.rotate(180deg);
	right: -40px;
	bottom: -40px;
}

.playImg{
	position: absolute;
	.position();
	width: 882px;
	height: 497px;
	&:hover{
		cursor: pointer;
	}
}

.right-video-img{
	.position-stand(auto,absolute);
	top: 0px;
	right: 0px;
}

/****************video page end*******************/

/****************intro page*******************/

.intro-container{
	.position-stand( unit( `document.documentElement.clientHeight`, px ) );
	overflow : hidden;
	background: #fff;
}

.intro-wrapper{
	.position-stand(100%);
	width: 1024px;
	margin: 0 auto;
}

.intro-content{
	.position-stand( 480px ,absolute);
	width: 854px;
	.position(50%,120px);
	margin-left: -427px;
	.scale(0.7,0.7);
}

.intro-title{
	.position-stand(auto,absolute);
	width: 100%;
	text-align: center;
	color: #494949;
	font-family: 'Century-Gothic-c943d4e4d17b9f';
	font-size: 66px;
	font-weight: bolder;
	.position(0px,-130px);
}

.intro-slides{
	.position-stand(100%);
	.transform-style(753px);
	.transform(0px,0px,2px);
}

.intro-slide{
	.position-stand(100%,absolute);
	width: 100%;
	.position();
	.transition(transform,ease-out,0.7s,0s);
	.transform(0px,0px,1px);
}

.slide-layer{
	.position-stand(100%,absolute);
	.position();
	width: 100%;
	background: rgba(0,0,0,0.5);
	.transition-normal(opacity,linear,0.7s);
	opacity : 1;
}

.is-active{
	.transform(0px,0px,10px);
}

.is-active .slide-layer{
	opacity : 0;
}

.is-right{
	.transform(300px,0px,-298px);
}

.is-left{
	.transform(-300px,0px,-298px);
}

.intro-btns{
	.position-stand(86px,absolute);
	.position(0px,50%);
	.transform(0%,-50%,5px);
	width:100%;
	z-index : 2;
}

.intro-lb{
	.position-stand(100%,absolute);
	.position(-70px,0px);
	.rotate(180deg);
	&:hover{
		cursor: pointer;
	}
}

.intro-rb{
	.position-stand(100%,absolute);
	right: -70px;
	top: 0px;
	&:hover{
		cursor: pointer;
	}
}

.intro-bottom{
	.position-stand(auto,absolute);
	left: 50%;
	bottom: -45px;
	.transform(-50%,0%,2px);
	width: 996px;
}

.btm-msg{
	.position-stand(53px,absolute);
	.transition-normal(opacity,linear,0.7s);
	line-height: 53px;
	width: 100%;
	opacity: 0;
	text-align:center;
}

.msg-active{
	opacity: 1;
}

.btm-msg li{
	.position-stand();
	display: inline-block;
	margin-right: 70px;
	font-size : 18px;
	font-family:'Source-Han-Lighc9456bed017b9f';
	font-weight: 800;
}

.btm-msg li:last-child{
	margin-right: 0px;
}

.btm-msg img{
	max-width: 100%;
	margin: 0 auto;
}

/****************intro page end*******************/

/****************course page*******************/

.course-container{
	.position-stand( unit( `document.documentElement.clientHeight`, px ) );
	overflow : hidden;
	.linear-gradient( #252525, #0c0c0c );
}

.course-wrapper{
	.position-stand(100%);
	width: 1024px;
	margin: 0 auto;
	background: url("../images/bg.png") no-repeat top center;
	background-size: cover;
	&:after{
		.clear();
	}
}

.course-title{
	.position-stand(auto,absolute);
	.position(93px,66px);
	font-family:'Century-Gothic-c943d4e4d17b9f';
	color: #fff;
	font-size: 66px;
	z-index: 2;
	.transition-normal(all,linear,0.6s,0.5s);
	.transform(unit(`-window.innerWidth/2`,px),0px,1px);
	opacity: 0;
}

.page-active .course-title{
	.transform(0px,0px,1px);
	opacity: 1;
}

.course-item{
	.position-stand(100%);
	float:left;
	width:25%;
	text-align: center;
	border-left: 1px solid #494949;
	border-right: 1px solid #494949;
	&:hover{
		cursor: pointer;
	}
	&:hover .course-item-bg{
		.transform(0%,0%,1px);
	}
	&:hover .course-item-title{
		color: #fff;
	}
	&:hover .price-btn{
		background: #f0831e;
		color : #454545;
	}
	&:hover .price-bottom{
		color : #fff;
	}

	
	opacity: 0;
	-webkit-transform: rotateY(60deg);
	-moz-transform: rotateY(60deg);
	-o-transform: rotateY(60deg);
	transform: rotateY(60deg);
}

.rotate-init{
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	-o-transform: rotateY(0deg);
	transform: rotateY(0deg);
	opacity:1;
}

.page-active .ci-1{
	.transition-normal(all,linear,1s,0.4s);
	.rotate-init
}

.page-active .ci-2{
	.transition-normal(all,linear,1s,0.6s);
	.rotate-init
}

.page-active .ci-3{
	.transition-normal(all,linear,1s,0.8s);
	.rotate-init
}

.page-active .ci-4{
	.transition-normal(all,linear,1s,1s);
	.rotate-init
}

.course-item-bg{
	.position-stand(100%,absolute);
	.position(0px,0px);
	width:100%;
	z-index:0;
	overflow: hidden;
	.transform(0%,-100%,0px);
	.transition(transform,ease-in,0.7s,0s);
}

.course-item-title{
	.position-stand();
	padding-top: 300px;
	font-family:'Source-Han-Sansc94b3fcbf17b9f';
	font-size : 25px;
	.transform(0px,0px,1px);
	color: #808080;
}

.course-item-price{
	.position-stand();
	.transform(0px,0px,1px);
	margin-top:84px;
}

.course-item-price em{
	.position-stand();
	font-family:'Century-Gothic-c943d4e4d17b9f';
	font-weight: bold;
	font-size:18px;
	color: #fff;
	padding-bottom:9px;
}

.price{
	.position-stand();
	padding-bottom: 13px;
}

.price img{
	margin: 0 auto;
}

.price-btn{
	.position-stand(40px);
	.transform(0px,0px,1px);
	width: 120px;
	margin: 0 auto;
	line-height:40px;
	border: 1px solid #808080;
	font-family:'Century-Gothic-c943d4e4d17b9f';
	font-weight: bold;
	font-size:18px;
	border: 1px solid #f0831e;
	color: #f0831e;
}

.price-bottom{
	.position-stand(auto,absolute);
	.transform(0px,0px,1px);
	width:100%;
	left:0px;
	bottom:64px;
	font-family:'Century-Gothic-c943d4e4d17b9f';
	font-weight: bold;
	font-size:18px;
	color: #808080;
}

/****************course page end*******************/

/****************tec page*******************/

.tec-container{
	.position-stand( unit( `document.documentElement.clientHeight`, px ) );
	overflow : hidden;
	.linear-gradient( #252525, #0c0c0c );
}

.tec-wrapper{
	.position-stand(100%);
	width:1024px;
	margin: 0 auto;
	background: url("../images/bg.png") no-repeat top center;
	background-size: cover;
}

.tec-logo{
	.position-stand();
	padding-left: 74px;
	padding-top: 83px;
	.transition-normal(all,linear,0.5s,0.5s);
	.transform(unit(`-window.innerWidth/2`,px),0px,1px);
	opacity: 0;
}

.page-active .tec-logo{
	.transform(0px,0px,1px);
	opacity: 1;
}

.tec-bg{
	.position-stand();
	.transition-normal(all,linear,1s,0.5s);
	.transform(0px,30px,1px);
	opacity: 0;
}

.page-active .tec-bg{
	.transform(0px,0px,1px);
	opacity: 1;
}

.tec-bg-img{
	.position-stand(518px,absolute);
	.position(50%,-144px);
	width: 824px;
	margin-left: -432px;
}

@keyframes blink{
	0%{
		box-shadow: 0px 0px 0px rgba(255,164,56,0.7);
	}

	50%{
		box-shadow: 0px 0px 100px rgba(255,164,56,0.7);
	}

	100%{
		box-shadow: 0px 0px 1px rgba(255,164,56,0.7);
	}
}

.blink-circle{
	.animation(blink,linear,3s);
}

.tec-btn{
	.position-stand(62px,absolute);
	line-height: 62px;
	width: 200px;
	.position(140px,190px);
	font-family:'Century-Gothic-c943d4e4d17b9f';
	font-weight: bold;
	font-size:22px;
	color: #fff;
	border: 1px solid #fff;
	text-align:center;
	&:hover{
		cursor: pointer;
	}
}

.tec-btn em{
	display: inline-block;
	.linear-gradient( #ffc602, #ffd802 );
	border-radius: 50%;
	width: 36px;
	height: 36px;
	text-align: center;
	line-height: 36px;
}

.shark{
	.position-stand(auto,absolute);
	width: 100%;
	left: 0px;
	left: 139px;
    top: 320px;
    z-index : -1;
}

.tec-msg{
	.position-stand(100%,absolute);
	.position(0px,0px);
	z-index: 2;
	.transition-normal(all,ease-out,1s,0s);
	.transform(1024px,0px,0px);
	padding-top: 10px;
	width:100%;
	background: #000;
	opacity: 0;
}

.close{
	.position-stand(auto,absolute);
	top: 80px;
	right: -80px;
	width: 40px;
	&:hover{
		cursor: pointer;
	}
}

.close img{
	max-width: 100%;
}

.tec-link-btn{
	.position-stand(65px,absolute);
	line-height: 65px;
	border: 1px solid #ffa438;
	width: 251px;
	text-align:center;
	font-family:'Source-Han-Sansc94b3fcbf17b9f';
	font-size: 32px;
	color: #ffa438;
	&:hover{
		cursor:pointer;
	}
	right: 74px;
	bottom: 70px;
}

.tec-msg img{
	margin: 0 auto;
	max-height: 100%;
}

.tec-show .tec-msg{
	.transform(0px,0px,0px);
	opacity: 1;
}

/****************tec page end*******************/

/****************example page*******************/

.example-container{
	.position-stand( unit( `document.documentElement.clientHeight`, px ) );
	overflow : hidden;
	.linear-gradient( #252525, #0c0c0c );
}

.example-wrapper{
	.position-stand(100%);
	width:1024px;
	margin: 0 auto;
	background: url("../images/bg.png") no-repeat top center;
	background-size: cover;
}

.example-logo{
	.position();
	padding-left: 96px;
	padding-top: 73px;
	.transition-normal(all,linear,0.5s,0.5s);
	.transform(unit(`-window.innerWidth/2`,px),0px,1px);
	opacity: 0;
}

.page-active .example-logo{
	.transform(0px,0px,1px);
	opacity: 1;
}

.example-boxer{
	.position-stand(388px);
	width: 100%;
	padding-left: 108px;
	padding-top: 40px;
	.transition-normal(all,linear,0.5s,0.7s);
	.transform(unit(`window.innerWidth/2`,px),0px,1px);
	opacity: 0;
}

.page-active .example-boxer{
	.transform(0px,0px,1px);
	opacity: 1;
}

.example-scroll{
	.position-stand(100%);
	width: 100%;
	overflow:hidden;
}

.example-content{
	.position-stand(348px,absolute);
	.transition(transform,ease-out,1s);
	.transform(0px,0px,1px);
	width: 1000px;
	&:after{
		.clear();
	}
}

.example-column{
	.position-stand();
	width: 348px;
	height: 348px;
	margin-right: 43px;
	float: left;
}

.e-type-4{
	width: 391px;
}

.e-type-2{
	width: 173px;
	margin-right: 0px;
}

.example-item{
	.position-stand();
}

.example-item img{
	max-width: 100%;
}

.e-type-4 .example-item,.e-type-2 .example-item{
	width: 174px;
	float : left;
	margin-right: 43px;
}

.e-type-2 .example-item{
	margin-right: 0px;
}

.e-type-4 .example-item:nth-child(2n),.e-type-2 .example-item:nth-child(2n){
	margin-right: 0px;
}

.example-btn{
	.position-stand(auto,absolute);
	.position(0px,50%);
	margin-top: -63.5px;
	width: 100%;
	.transform(0px,0px,2px);
	&:after{
		.clear();
	}
}

.example-btn>div{
	.position-stand();
	float: left;
	&:hover{
		cursor: pointer;
	}
}

.example-left-btn{
	display : none;
	margin-left: 106px;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.example-right-btn{
	float: right !important;
}

/****************example page end*******************/

/****************media page*******************/

.media-container{
	.position-stand( unit( `document.documentElement.clientHeight`, px ) );
	overflow : hidden;
	/*background: url("../images/repeatbg.png") repeat;*/
	background: #f5f5f5;
}

.media-wrapper{
	.position-stand(100%);
	width:1024px;
	margin: 0 auto;
}

.media-title{
	.position-stand();
	font-family:'Century-Gothic-c943d4e4d17b9f';
	font-size: 66px;
	color : #454545;
	padding-top: 93px;
	padding-left: 92px;
	line-height: 1.2;

	.transition-normal(all,linear,0.5s,0.5s);
	.transform(unit(`-window.innerWidth/2`,px),0px,1px);
	opacity: 0;
}

.page-active .media-title{
	.transform(0px,0px,1px);
	opacity: 1;
}

.media-logos{
	.position-stand();
	margin-top: 36px;
	padding-left: 92px;
	width: 926px;
	.transform-style();
	&:after{
		.clear();
	}

	.transition-normal(all,linear,0.8s,0.6s);
	.transform(0px,30px,1px);
	opacity: 0;
}

.page-active .media-logos{
	.transform(0px,0px,1px);
	opacity: 1;
}

.media-logo{
	.position-stand(171px);
	width: 278px;
	overflow: hidden;
	text-align:center;
	line-height: 171px;
	float: left;
	.transition(transform,linear,0.3s);
	.transform(0px,0px,1px);
	background: #fff;
	&:hover{
		cursor: pointer;
		.transform(0px,0px,4px);
		box-shadow: 0px 0px 100px rgba(0,0,0,0.3);
		.media-layer{
			opacity: 1;
			.transform(0%,0%,1px);
		}
	}
}

.media-layer{
	.position-stand(100%,absolute);
	.position();
	width: 100%;
	.transition(transform,ease-in,0.3s);
	.transform(0%,-100%,1px);
	opacity: 0;
	overflow: hidden;
}

.media-layer img{
	max-width: 100%;
}

.media-logo img{
	display:inline;
	vertical-align: middle;
}

/****************media page end*******************/

/****************job page*******************/

.job-container{
	.position-stand( unit( `document.documentElement.clientHeight`, px ) );
	overflow : hidden;
	.linear-gradient( #252525, #0c0c0c );
}

.job-wrapper{
	.position-stand(100%);
	width:1024px;
	margin: 0 auto;
	background: url("../images/job-bg.jpg") no-repeat top center;
}

.job-bg{
	.position-stand(auto,absolute);
	.position(0px,0px);
	overflow: hidden;
	width:100%;
}

.job-title{
	.position-stand();
	font-family:'Century-Gothic-c943d4e4d17b9f';
	font-size: 66px;
	color : #fff;
	padding-top: 93px;
	padding-left: 92px;
	line-height: 1.2;
	.transition-normal(all,linear,0.5s,0.5s);
	.transform(unit(`-window.innerWidth/2`,px),0px,1px);
	opacity: 0;
}

.page-active .job-title{
	.transform(0px,0px,1px);
	opacity: 1;
}

.job-content{
	.position-stand(306px,absolute);
	width: 837px;
	left: 50%;
	top: 280px;
	margin-left: -419px;
	border: 1px solid #808080;
	.transition-normal(all,linear,0.4s,0.6s);
	.transform(unit(`window.innerWidth/2`,px),0px,1px);
	opacity: 0;
}

.page-active .job-content{
	.transform(0px,0px,1px);
	opacity: 1;
}

.job-column{
	.position-stand(auto,relative);
	width: 691px;
	margin: 0 auto;
	padding-top: 38px;
}

.job-link-btn{
	.position-stand(60px,absolute);
	line-height: 60px;
	left: 50%;
	bottom: 0px;
	width: 170px;
	margin-left: -85px;
	background: #ffa438;
	color: #454545;
	text-align:center;
	font-family:'Source-Han-Sansc94b3fcbf17b9f';
	font-size: 22px;
	&:hover{
		cursor:pointer;
	}
}

.note-msg{
	.position-stand(auto,absolute);
	width: 100%;
	text-align: center;
	left: 0px;
	bottom: -37px;
	color: #606060;
	font-family:'Source-Han-Lighc9456bed017b9f';
}

/****************job page end*******************/

/****************footer page*******************/

#footer{
	.position-stand();
	padding-top: 0px;
	.linear-gradient( #252525, #0c0c0c );
	margin-top: -18px;
}

.footer-logo{
	.position-stand(47px,absolute);
	width: 179px;
	.position(50%,-24px);
	margin-left: -90px;
}

.footer-wrapper{
	.position-stand();
	width: 1024px;
	margin: 0 auto;
	padding-top: 76px;
	padding-bottom: 40px;
	overflow: hidden;
}

.footer-wrapper:after{
	clear:both;
	content:"";
	display: block;
}

.left-icons{
	.position-stand();
	float: left;
	padding-left:72px;
}

.left-icons:after{
	content: "";
	display: block;
	clear: both;
}

.footer-icon-item{
	.position-stand();
	float: left;
	margin-right:19px;
}

.right-msgs{
	.position-stand();
	float: right;
}

.right-msgs:after{
	content: "";
	display: block;
	clear: both;
}

.footer-msg-column{
	.position-stand();
	float: right;
	width:160px;
}

.en-title{
	.position-stand();
	font-size: 12px;
	color: #454545;
	font-family:'Century-Gothic-c943d4e4d17b9f';
	padding-bottom:13px;
}

.cn-item{
	.position-stand();
	font-size: 12px;
	padding-bottom:13px;
}

.cn-item>a{
	font-family:'Source-Han-Sansc94b3fcbf17b9f';
	color:#828282;
}

.cpr{
	.position-stand();
	text-align: center;
	padding: 20px 0px 30px 0px;
	font-family:'Century-Gothic-c943d4e4d17b9f';
	font-size: 12px;
}

.cpr>a{
	color: orange;
}

/****************footer page end*******************/

/****************loading page*******************/
.loading-container{
	.position-stand( 100%, fixed );
	.position();
	width : 100%;
	z-index : 9999;
	background : #000;
}

.loading-wrapper{
	.position-stand( 100% );
	width : 1000px;
	margin : 0 auto;
}

.loading-logo{
	.position-stand( 41px, absolute );
	.position( 0px, 50% );
	width : 100%;
	margin-top: -20px;
}

.loading-logo img{
	margin: 0 auto;
}

.loading-box{
	.position-stand( 2px, absolute );
	.position( 0px, 65% );
	width : 100%;
	margin-top: -1px;
}

.loading-bar{
	.position-stand( 100%, absolute);
	.transition-normal();
	width : 0%;
	background : yellow;
}

.loading-bar[data-isEnd="end"]{
	.transition-normal(width,easeout,1.5s);
	right : 0px;
	width : 0% !important;
}

/****************loading page end*******************/
@media screen and (min-height: 768px){
	
	.mouser-wrapper{
		.scale(1.2,1.2);
	}

	.intro-content{
		.scale(1,1);
		top: 220px;
	}

	.course-title{
		.position(93px,126px);
	}

	.course-item-bg img{
		max-width:auto;
		min-height:100%;
		max-height:100%;
	}

	.course-item-title{
		padding-top: 350px;
	}

	.price{
		padding-bottom: 50px;
	}

	.tec-logo{
		padding-top: 170px;
	}

	.tec-link-btn{
		right: 38px;
	}

	.tec-msg{
		padding-top: 60px;
	}

	.example-logo{
		padding-top: 190px;
	}

	.media-title,.job-title{
		padding-top: 173px;
	}

	.media-logos{
		margin-top: 80px;
	}

	.map-title{
		padding-top: 160px;
	}

	.selector-box{
		padding-top: 110px;
	}

	.selector-btn{
		margin-top: 110px;
	}

	.job-content{
		top: 370px;
	}

	.video-box{
		top: 240px;
		.scale(1,1);
	}

}

@media screen and (min-height: 900px){
	.mouser-wrapper{
		.scale(1.4,1.4);
	}

	.intro-content{
		.scale(1,1);
		top: 240px;
	}

	.tec-msg{
		padding-top: 100px;
	}

	.close{
		top: 178px;
	}
}

@media screen and (min-width: 1920px){
	.job-bg{
		-webkit-transform: scale(1.6,1.6);
		-moz-transform: scale(1.6,1.6);
		-o-transform: scale(1.6,1.6);
		transform: scale(1.6,1.6);
	}

	.job-content{
		top: 515px;
	}

}

/*fixed*/
.BMapLib_SearchInfoWindow{
	.transform(0px,17px,1px);
}

.QRcode{
	.position-stand(100%,fixed);
	.position(0px,0px);
	.transform(0,0,10px);
	width: 100%;
	background: #000;
	display : none;
	z-index : 10;
}

.QRwrapper{
	.position-stand(auto,absolute);
	.position(50%,50%);
	.transform(-50%,-50%,1px);
}

.QRtext{
	.position-stand();
	text-align: center;
    font-size: 52px;
    color: #fff;
    padding: 32px 0px 42px 0px;
}

.Iknow{
	.position-stand();
	font-size: 28px;
    text-align: center;
    border: 1px solid #ffa438;
    color: #ffa438;
    padding: 5px 0px;
    &:hover{
    	cursor: pointer;
    }
}