input{
	position: relative;
	border: 2px solid #D9DADC;
	font-size: 18px;
	color: rgba(0,0,0,0.80);
	letter-spacing: 0;
	text-indent: 22px;
	height: 56px;
	width: 226px;
}

#introduce{
	position: relative;
	width: 756px;
	height: 214px;
	padding-top: 22px;
	text-indent: 22px;
	border: 2px solid #D9DADC;
	font-size: 18px;
	color: rgba(0,0,0,0.80);
	letter-spacing: 0;
}

.poster{
	position: relative;
	background: #F9F9F9;
	border: 2px solid #D9DADC;
	display: block;
	padding: 83px 0px;
	height: auto;
	width: 206px;
}

.poster:hover{
	cursor: pointer;
}

.poster-btn{
	background: #E5E5E5;
	border-radius: 4px;
	position: relative;
	height: 64px;
	width: 180px;
	margin: 0 auto;
	text-align: center;
	line-height: 64px;
	font-size: 18px;
	color: #FFFFFF;
	letter-spacing: 0;
}
