#act-title,#act-Entitle{
	position: relative;
	border: 2px solid #D9DADC;
	display: block;
	height: 60px;
	text-indent: 22px;
	font-size: 18px;
	color: #B3B3B3;
	letter-spacing: 0;
	max-width: 796px;
	width: 100%;
	outline: none;
	-webkit-appearance:none;
}

.input-box{
	position: relative;
	float: left;
	border: 2px solid #D9DADC;
	width: 156px;
	height: 56px;
	margin-top: -15px;
}

#others{
	border: none;
	outline: none;
	-webit-appearance:none;
	width: 100%;
	height: 100%;
	text-indent: 10px;
	font-size: 18px;
	color: #333333;
	letter-spacing: 0;
}

.layer-content{
	position: absolute;
	width: 740px;
	top: 50%;
	margin-top: -300px;
	min-height: 600px;
	left: 50%;
	margin-left: -400px;
	padding-bottom: 10px;
}

.save-btn{
	margin-top: 0px;
	margin-right: 0px;
}