#address{
	position: relative;
	width: 476px;
	height: 56px;
	border: 2px solid #D9DADC;
	text-indent: 22px;
	font-size: 18px;
	color: #333;
	letter-spacing: 0;
}

.pCode-item{
	padding-top: 15px;
}

#post-code{
	position: relative;
	width: 226px;
	height: 56px;
	border: 2px solid #D9DADC;
	text-indent: 22px;
	font-size: 18px;
	color: #333;
	letter-spacing: 0;
}

.addNewCity{
	bottom: -25px;
}

.addNewLec{
	bottom: 0px;
}

.dateInputBox{
	position: relative;
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 20px;
}

.dateChooseBox input{
	position: relative;
	width: 276px;
	height: 56px;
	border: 2px solid #D9DADC;
	font-size: 18px;
	color: #333333;
	letter-spacing: 1px;
	text-indent: 22px;
}

input.startTime,input.endTime{
	width: 176px;
}

.dateInputBox:after{
	position: absolute;
	content: "";
	background: url("../images/jt_1.png") no-repeat top center;
	width: 15px;
	height: 7px;
	right: 20px;
	top: 24px;
}

textarea{
	position: relative;
	width: 596px;
	height: auto;
	border: 2px solid #D9DADC;
	text-indent: 24px;
	padding-top: 22px;
	font-size: 18px;
	color: #333;
	letter-spacing: 0;
}

#describe{
	height: 214px;
}

#gain{
	height: 154px;
}

#background{
	height: 154px;
}

#lecName{
	position: relative;
	width: 226px;
	height: 56px;
	border: 2px solid #D9DADC;
	text-indent: 22px;
	font-size: 18px;
}

.lecLists{
	position: absolute;
	width: 100%;
	height: auto;
	top: 60px;
	background: #fff;
	z-index: 10;
	line-height: 30px;
}

.lecList{
	border-left:  2px solid #D9DADC;
	border-right:  2px solid #D9DADC;
}

.lecList:hover{
	cursor: pointer;
}

.lecList:last-child{
	border-bottom: 2px solid #D9DADC;
}

.poster{
	position: relative;
	display: block;
	width: 476px;
	height: auto;
	padding: 106px 0px;
	background: #F9F9F9;
	border: 2px solid #D9DADC;
}

.poster:hover{
	cursor: pointer;
}

.poster-btn{
	position: relative;
	height: 64px;
	width: 180px;
	margin: 0 auto;
	background: #E5E5E5;
	border-radius: 4px;
	text-align: center;
	line-height: 64px;
	font-size: 18px;
	color: #FFFFFF;
	letter-spacing: 0;
}

.sbjTitle{
	padding-top: 20px;
}

.addNewPoster{
	bottom: -25px;
}

.sponsorName,.sponsorWeb{
	position: relative;
	border: 2px solid #D9DADC;
	width: 226px;
	height: 56px;
	font-size: 18px;
	color: #333333;
	letter-spacing: 1px;
	text-indent: 22px;
}

.sponsorWeb{
	width: 480px;
}

.sponsorLogo-item{
	padding-bottom: 40px;
}

.logoPost{
	position: relative;
	width: 296px;
	height: auto;
	display: block;
	background: #F9F9F9;
	border: 2px solid #D9DADC;
	padding: 40px 0px;
}

.logoPost:hover{
	cursor: pointer;
}

.logo-btn{
	position: relative;
	height: 50px;
	width: 120px;
	margin: 0 auto;
	background: #E5E5E5;
	border-radius: 4px;
	text-align: center;
	line-height: 50px;
	font-size: 14px;
	color: #FFFFFF;
	letter-spacing: 0;
}

.preview{
	position: relative;
	height: 45px;
	width: 100px;
	text-align: center;
	line-height: 45px;
	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: 0;
	background: #FE5B5E;
}

.preview:hover{
	cursor: pointer;
	opacity: 0.9;
}

.layer-content{
	position: absolute;
	width: 740px;
	top: 50%;
	margin-top: -300px;
	height: 600px;
	left: 50%;
	margin-left: -400px;
}

.cityAdd{
	position: relative;
	width: 246px;
	height: 56px;
	border: 2px solid #D9DADC;
	font-size: 18px;
	color: #333333;
	letter-spacing: 1px;
	text-indent: 22px;
}

.confirm-btn{
	position: relative;
	height: 45px;
	width: 100px;
	text-align: center;
	line-height: 45px;
	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: 0;
	background: #FE5B5E;
	margin-top: 140px;
}

.confirm-btn:hover{
	cursor: pointer;
	opacity: 0.9;
}

.selectorLists{
	height: 168px;
	overflow: hidden;
}