.loading-box{
    position: fixed;
    left: 0rem;
    top: 0rem;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: #000;
}

.loading{
    position: absolute;
    left: 50%;
    top: 50%;
    -wenkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    color: #fff;
    text-align: center;
    font-size: 0.3rem;
}

.my-layer{
    position: fixed;
    z-index: 499;
    left: 0rem;
    top: 0rem;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(0,0,0,0.6);
    display: none;
}

.my-layer-box{
    position: absolute;
    width: 5.25rem;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 1;
    overflow: hidden;
}

.my-layer-wrapper{
    position: relative;
    width: 15.75rem;
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: -webkit-transform 0.6s ease-in-out;
}

.my-layer-wrapper[data-idx="2"]{
    -webkit-transform: translate(-5.25rem,0rem);
    transform: translate(-5.25rem,0rem);
}

.my-layer-wrapper[data-idx="3"]{
    -webkit-transform: translate(-10.5rem,0rem);
    transform: translate(-10.5rem,0rem);
}

.my-layer-wrapper:after{
    display: block;
    content: "";
    clear: both;
}

.my-layer-item{
    position: relative;
    height: auto;
    width: 5.25rem;
    float: left;
}

.close-btn{
    position: absolute;
    right: 0.1rem;
    top: 0.1rem;
    width: 0.5rem;
    height: 0.5rem;
    z-index: 2;
}

.next-btn{
    position: absolute;
    top: 6.16rem;
    width: 2.4rem;
    height: 0.8rem;
    left: 50%;
    -webkit-transform: translate(-50%,0%);
    transform: translate(-50%,0%);
    z-index: 2;
}

.select-box{
    position: absolute;
    font-size: 0.3rem;
    top: 3.05rem;
    color: #fff;
    height: auto;
    left: 50%;
    -webkit-transform: translate(-52%,0%);
    transform: translate(-52%,0%);
}

.select-result{
    position: absolute;
    width: 5rem;
    text-align: center;
    font-size: 0.27rem;
    top: 4.05rem;
    color: #78e4ff;
    text-shadow : 0px 0px 7px #78e4ff;
    height: auto;
    left: 50%;
    -webkit-transform: translate(-50%,0%);
    transform: translate(-50%,0%);
}

.input-box{
    position: absolute;
    width: 3.5rem;
    height: auto;
    top: 1.06rem;
    left: 50%;
    -webkit-transform: translate(-50%,0%);
    transform: translate(-50%,0%);
}

.input-item{
    position: relative;
    height: auto;
    margin-top: 0.258rem;
}

.input-box .input-item:first-child{
    margin-top: 0rem;
}

.input-item input{
    position: relative;
    display: block;
    width: 100%;
    outline: none;
    border: none;
    height: 0.6rem;
    text-align: center;
    color: #fff;
    font-size: 0.25rem;
    background: rgba(0,0,0,0);
}

input::-webkit-input-placeholder{
    color:#fff;
}
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color:#fff;
}
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color:#fff;
}
input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
    color:#fff;
}

.message-box{
    position: absolute;
    width: 3.96rem;
    height: auto;
    top: 3.48rem;
    font-size: 0.23rem;
    left: 50%;
    -webkit-transform: translate(-41%,0%);
    transform: translate(-41%,0%);
    color: #fff;
}

.message-time{
    position: relative;
    height: auto;
}

.message-address{
    position: relative;
    height: auto;
    margin-top: 0.1rem;
    word-wrap : break-word;
    word-break : break-all;
}

#page{
    position: relative;
    height: auto;
    max-width: 6.25rem;
    margin: 0 auto;
    box-sizing: border-box;
    overflow: hidden;
}

.container{
    position: relative;
    height: auto;
}

.container-bg{
    position: relative;
    height: auto;
}

.container-bg>img{
    margin-top: -1px;
}

.container-bg>img:first-child{
    margin-top: 0px;
}

img{
    display: block;
    width: 100%;
    max-width: 100%;
}

.content{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0rem;
    left: 0rem;
}

.header-title{
    position: relative;
    height: auto;
    width: 4.925rem;
    margin: 0 auto;
    margin-top: 1.8rem;
    opacity: 0;
}

.header-title-sub{
    position: absolute;
    width: 5.208rem;
    top: 2.733rem;
    left: 50%;
    margin-left: -2.604rem;
}

.line-wrapper-1{
    position: absolute;
    height: 1px;
    width: 90%;
    top: 0rem;
    right: 5%;
    -webkit-transition: width 1s ease-in-out 1s;
    transition: width 1s ease-in-out 1s;
}

.header-line-active .line-wrapper-1{
    width: 0%;
}

.line-wrapper-2{
    position: absolute;
    height: 1px;
    width:74%;
    top: 1rem;
    left: 13%;
    -webkit-transition: width 0.6s ease-in-out 1.6s;
    transition: width 0.6s ease-in-out 1.6s;
}

.header-line-active .line-wrapper-2{
    width: 0%;
}

.header-line{
    position: absolute;
    height: 1px;
    background: -webkit-linear-gradient(left,rgba(183,174,174,0.5),rgba(255,255,255,0.8));
    background: linear-gradient(left,rgba(183,174,174,0.5),rgba(255,255,255,0.8));
    top: 0rem;
}

.header-line:after{
    content: "";
    display: block;
    position: absolute;
    width: 0.1rem;
    height: 0.1rem;
    border-radius: 50%;
    top: -0.04rem;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(255,255,255,0.8);
}

.header-line1{
    width: 0%;
    left: 0%;
}

.header-line1:after{
    right: -0.05rem;
}

.header-line2{
    right: 0%;
    width: 0%;
}

.header-line2:after{
    left: -0.05rem;
}

.header-line-active .header-line1{
    -webkit-animation: line 1s ease-in-out forwards;
    animation: line 1s ease-in-out forwards;
}

.header-line-active .header-line2{
    -webkit-animation: line 0.6s ease-in-out 1s forwards;
    animation: line 0.6s ease-in-out 1s forwards;
}

.header-sub1{
    position: relative;
    height: auto;
    max-width: 100%;
    margin-top: 0.467rem;
    opacity: 0;
}

.header-text{
    position: relative;
    margin: 0 auto;
    width: 4.392rem;
    margin-top: 0.7rem;
    opacity: 0;
}

.header-subtitle{
    position: relative;
    height: auto;
    width: 3.383rem;
    margin: 0 auto;
    margin-top: 0.8rem;
    opacity: 0;
}

.header-qq{
    position: absolute;
    right: -3.433rem;
    top: 6.667rem;
    width: 3.433rem;
    height: auto;
    -webkit-transition: right 0.6s ease-out;
    transition: right 0.6s ease-out;
}

.qq-slideIn{
    right: -0.687rem;
    -webkit-animation: qqloop 2s ease-in-out infinite;
    animation: qqloop 2s ease-in-out infinite;
}

.main-content{
    position: relative;
    height: auto;
    margin-top: 4.18rem;
    opacity: 1;
}

.qiqiu{
    position: absolute;
    left: 0.858rem;
    width: 0.608rem;
    height: auto;
    top: 1.96rem;
    -webkit-animation: qqloop 2.3s ease-in-out infinite;
    animation: qqloop 2.3s ease-in-out infinite;
}

.qiqiu2{
    top: 1.8rem;
}

.content-text{
    position: relative;
    width: 4.617rem;
    height: auto;
    margin: 0 auto;
    opacity: 0;
}

.content-progress{
    position: relative;
    height: auto;
    margin: 0 auto;
    margin-top: 2.03rem;
    width: 5rem;
}

.pg-1{
    position: absolute;
    height: auto;
    width: 1.958rem;
    top: 0.16rem;
    left: 0.3rem;
}

.pg-2{
    position: absolute;
    height: auto;
    width: 1.775rem;
    top: 0.9rem;
    right: 0.3rem;
}

.pg-3{
    position: absolute;
    height: auto;
    width: 1.958rem;
    top: 1.64rem;
    left: 0.28rem;
}

.pg-4{
    position: absolute;
    height: auto;
    width: 1.775rem;
    top: 2.38rem;
    right: 0.33rem;
}

.pg-5{
    position: absolute;
    height: auto;
    width: 1.617rem;
    top: 3.12rem;
    left: 0.27rem;
}

.pg-1 .huiyi-img{
    opacity: 0;
    -webkit-transition: opacity 0.6s linear 1s;
    transition: opacity 0.6s linear 1s;
}

.pg-2 .huiyi-img{
    opacity: 0;
    -webkit-transition: opacity 0.6s linear 1.2s;
    transition: opacity 0.6s linear 1.2s;
}

.pg-3 .huiyi-img{
    opacity: 0;
    -webkit-transition: opacity 0.6s linear 1.4s;
    transition: opacity 0.6s linear 1.4s;
}

.pg-4 .huiyi-img{
    opacity: 0;
    -webkit-transition: opacity 0.6s linear 1.6s;
    transition: opacity 0.6s linear 1.6s;
}

.pg-5 .huiyi-img{
    opacity: 0;
    -webkit-transition: opacity 0.6s linear 1.8s;
    transition: opacity 0.6s linear 1.8s;
}

.huiyi-active .huiyi-img{
    opacity: 1;
}

.pg-line{
    position: absolute;
    z-index: 0;
    top: 50%;
    height: 1px;
    width: 0rem;
    overflow: hidden;
    -webkit-transition:width 0.8s linear;
    transition:width 0.8s linear;
}

.huiyi-active .pg-line{
    width: 1.933rem;
}

.pg-line>img{
    height: 1px;
}

.pg-1 .pg-line{
    right: 0rem;
    -webkit-transition:width 0.8s linear 0.1s;
    transition:width 0.8s linear 0.1s;
}

.pg-3 .pg-line{
    right: 0rem;
    -webkit-transition:width 0.8s linear 0.3s;
    transition:width 0.8s linear 0.3s;
}

.pg-5 .pg-line{
    right: -0.34rem;
    -webkit-transition:width 0.8s linear 0.5s;
    transition:width 0.8s linear 0.5s;
}

.pg-2 .pg-line{
    left: -0.2rem;
    -webkit-transition:width 0.8s linear 0.2s;
    transition:width 0.8s linear 0.2s;
}

.pg-4 .pg-line{
    left: -0.14rem;
    -webkit-transition:width 0.8s linear 0.4s;
    transition:width 0.8s linear 0.4s;
}

.content-contact{
    position: relative;
    height: auto;
    margin-top: 10.654rem;
}

.wechat{
    position: absolute;
    right: 0.88rem;
    top: -1.7rem;
    width: 0.8rem;
    height: auto;
    -webkit-animation: wechatloop 2s linear infinite;
    animation: wechatloop 2s linear infinite;
}

.ct1{
    position: relative;
    height: auto;
    width: 2.233rem;
    margin: 0 auto;
    margin-top: 0.95rem;
    -webkit-transition: all 0.6s ease-in;
    transition: all 0.6s ease-in;
    opacity: 0;
    -webkit-transform: translate(-100%,0%);
    transform: translate(-100%,0%);
}

.ct2{
    position: relative;
    height: auto;
    width: 2.158rem;
    margin: 0 auto;
    margin-top: 0.99rem;
    -webkit-transition: all 0.6s ease-in 0.3s;
    transition: all 0.6s ease-in 0.3s;
    opacity: 0;
    -webkit-transform: translate(-100%,0%);
    transform: translate(-100%,0%);
}

.ct3{
    position: relative;
    height: auto;
    width: 2.233rem;
    margin: 0 auto;
    margin-top: 1.04rem;
    -webkit-transition: all 0.6s ease-in 0.6s;
    transition: all 0.6s ease-in 0.6s;
    opacity: 0;
    -webkit-transform: translate(-100%,0%);
    transform: translate(-100%,0%);
}

.contact-active .ct1,.contact-active .ct2,.contact-active .ct3{
    opacity: 1;
    -webkit-transform: translate(0%,0%);
    transform: translate(0%,0%);
}

.enroll-btn-wrapper{
    position: absolute;
    left: 50%;
    top: 5rem;
    width: 5rem;
    margin-left: -2.5rem;
}

.ebw2{
    top: 5.7rem;
}

.wave-box{
    position: relative;
    height: 0.433rem;
    width: 1.225rem;
    overflow: hidden;
    display: inline-block;
}

.btn-box{
    position: relative;
    display: inline-block;
    height: 0.433rem;
    width: 2.4rem;
}

.wave{
    position: absolute;
    height: 0.433rem;
    width: 2.45rem;
    top: 0rem;
}

.wave>img{
    float: left;
    max-width: 100%;
    width: 1.225rem;
    height: auto;
}

.wlb .wave{
    right: 0rem;
    -webkit-animation: loop 2s linear infinite;
    animation: loop 2s linear infinite;
}

.wrb .wave{
    left: 0rem;
    -webkit-animation: loop2 2s linear infinite;
    animation: loop2 2s linear infinite;
}

.qrcode-box{
    position: relative;
    height: auto;
    width: 1.4rem;
    margin: 0 auto;
    margin-top: 4.14rem;
}

.code{
    position: relative;
    z-index: 2;
}

.qqhide{
    position: absolute;
    z-index: 1;
    width: 1.083rem;
    height: auto;
    left: 0rem;
    bottom: 0.1rem;
    -webkit-transition: -webkit-transform 0.8s ease-out 0.2s;
    transition: transform 0.8s ease-out 0.2s;
}

.qqhide-active{
    -webkit-transform: translate(-0.56rem,0rem);
    transform: translate(-0.56rem,0rem);
}

@-webkit-keyframes loop{
    0%{
        -webkit-transform: translate(0%,0%);
    }

    100%{
        -webkit-transform: translate(50%,0%);
    }
}

@keyframes loop{
    0%{
        transform: translate(0%,0%);
    }

    100%{
        transform: translate(50%,0%);
    }
}

@-webkit-keyframes loop2{
    0%{
        -webkit-transform: translate(0%,0%);
    }

    100%{
        -webkit-transform: translate(-50%,0%);
    }
}

@keyframes loop2{
    0%{
        transform: translate(0%,0%);
    }

    100%{
        transform: translate(-50%,0%);
    }
}


/*******/
@-webkit-keyframes qqloop{
    0%{
        -webkit-transform : translate(0rem,0rem);
    }

    50%{
        -webkit-transform : translate(0rem,0.3rem);
    }

    100%{
        -webkit-transform : translate(0rem,0rem);
    }
}

@keyframes qqloop{
    0%{
        transform : translate(0rem,0rem);
    }

    50%{
        transform : translate(0rem,0.3rem);
    }

    100%{
        transform : translate(0rem,0rem);
    }
}

/*******************/
@-webkit-keyframes line{
    0%{
        width: 0%;
    }

    100%{
        width: 90%;
    }
}

@keyframes line{
    0%{
        width: 0%;
    }

    100%{
        width: 100%;
    }
}

/*******************/
@-webkit-keyframes wechatloop{
    0%{
        -webkit-transform: scale(1,1);
    }

    50%{
        -webkit-transform: scale(1.1,1.1);
    }

    100%{
        -webkit-transform: scale(1,1);
    }
}

@keyframes wechatloop{
    0%{
        transform: scale(1,1);
    }

    50%{
        transform: scale(1.1,1.1);
    }

    100%{
        transform: scale(1,1);
    }
}