html,body{
	height: 100%;
	overflow: hidden;
}

#container{
	position: relative;
	height: auto;
	max-width: 6.25rem;
	height: 100%;
	overflow: hidden;
	margin: 0 auto;
}

.swiper-container,.swiper-wrapper,.swiper-slide{
	height: 100%;
}

.page-box{
	position: relative;
	height: 100%;
	overflow: hidden;
}

.page-box>img{
	position: relative;
	max-width: 100%;
	display: block;
}

.content-box{
	position: absolute;
	height: 100%;
	left: 0rem;
	top: 0rem;
	width: 100%;
	z-index: 2;
}

.text-box-1{
	position: relative;
	padding-top: 2.6rem;
	width: 4.4rem;
	margin: 0 auto;
	font-size: 0.53rem;
	color: #FFFFFF;
	letter-spacing: 1px;
	height: auto;
	line-height: 1.08rem;
}

.bottom-box{
	position: absolute;
	bottom: 0.2rem;
	left: 0rem;
	width: 100%;
	height: auto;
	text-align: center;
	font-size: 0.2rem;
	color: #FFFFFF;
	letter-spacing: 2.18px;
	line-height: 0.33rem;
	z-index: 10;
	-webkit-animation : arrow 1.5s linear infinite;
	animation : arrow 1.5s linear infinite;
}

.img1{
	max-width: 0.733rem;
}

.img2{
	max-width: 1.317rem;
}

.img3{
	max-width: 0.883rem;
}

.img4{
	max-width: 0.917rem;
}

.img5{
	max-width: 0.867rem;
}

.img6{
	max-width: 0.883rem;
}

.img7{
	max-width: 0.883rem;
}

.bottom-text{
	position: relative;
	height: auto;
	padding-bottom: 0.1rem;
}

.text-box-2{
	position: relative;
	padding-top: 2.48rem;
	width: 5.23rem;
	margin: 0 auto;
	font-size: 0.43rem;
	color: #FFFFFF;
	letter-spacing: 0;
	height: auto;
	line-height: 0.75rem;
}

.ti2Big{
	font-size: 0.5rem;
	font-family: "Microsoft Yahei";
}

.text-box-3{
	position: relative;
	padding-top: 1.3rem;
	width: 4.9rem;
	margin: 0 auto;
	color: #000000;
	letter-spacing: 0;
	height: auto;
	text-align: left;
}

.travel-title{
	position: relative;
	font-size: 0.4rem;
	color: #000000;
	letter-spacing: 0;
	font-weight: 700;
}

.text-box-3 .travel-title{
	padding-bottom: 0.16rem;
}

.travel-box{
	position: relative;
	height: auto;
	padding-top: 0.33rem;
}

.travel-item{
	position: relative;
	height: auto;
	margin-bottom: 0.34rem;
	line-height: 0.32rem;
	font-size: 0.2rem;
	color: #FFFFFF;
	letter-spacing: 0;
	
}

.text-box-3 .travel-item{
	font-size: 0.18rem;
	margin-bottom: 0.42rem;
}

.text-box-3 .travel-item:before{
	position: absolute;
    display: block;
    content: "";
    width: 0.46rem;
    height: 0.04rem;
    left: 0rem;
    top: -0.2rem;
    z-index: 2;
    background: #000;
}

.item-title{
	position: relative;
	font-size: 0.25rem;
	color: #FFFFFF;
	letter-spacing: 0;
}

.en{
	position: relative;
	font-family: "enFont";
	font-style: italic;
	letter-spacing: 0.5px;
	font-size: 0.22rem;
}

.text-box-3 .item-title{
	padding-bottom: 0.12rem;
}

.text-box-4{
	position: relative;
	padding-top: 2.68rem;
	width: 5.59rem;
	margin: 0 auto;
	color: #FFFFFF;
	letter-spacing: 0;
	height: auto;
	text-align: center;
}

.text-box-4 .travel-item{
	margin-bottom: 0.8rem;
}

.text-box-4 .travel-title{
	color: #BE9567;
	padding-bottom: 0.68rem;
}

.text-box-4 .travel-item:after{
	position: absolute;
    display: block;
    content: "";
    width: 0.46rem;
    height: 0.04rem;
    left: 50%;
    margin-left: -0.23rem;
    top: -0.2rem;
    z-index: 2;
    background: #fff;
}

.text-box-4 .item-title{
	padding-bottom: 0.2rem;
}

.text-box-5{
	width: 3.59rem;
    padding-top: 0.4rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    word-break: break-all;
    position: absolute;
    left: 0rem;
    top: 2rem;
    background: rgba(0,0,0,0.7);
    color: #fff;
}

.text-box-5 .travel-title{
	color: #fff;
	font-size: 0.6rem;
	padding-bottom: 0.2rem;
}

.text-box-5 .travel-item{
	font-size: 0.22rem;
}

.text-box-5 .travel-item:before{
	background: #fff;
}

.last-note{
	position: relative;
	font-size: 0.25rem;
	color: #FFFFFF;
	letter-spacing: 0;
	line-height: 0.35rem;
	
}

.last-box{
	position: absolute;
	left: 0rem;
	top: 0rem;
	z-index: 1;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.4);
}

.text-box-7-title{
	position: relative;
	height: auto;
	padding-top: 0.42rem;
	font-size: 0.5rem;
	color: #fff;
	text-align: center;
	z-index: 2;
}

.step-box{
	position: relative;
	z-index: 2;
	height: auto;
	padding-top: 0.22rem;
	text-align: center;
}

.step-row{
	position: relative;
	height: auto;
	font-size: 0.2rem;
	color: #ffffff;
	letter-spacing: 0;
	line-height: 0.33rem;
	margin-bottom: 0.14rem;
}

.row-title{
	position: relative;
	height: auto;
	font-weight: bolder;
}

.last-arrow{
	position: relative;
	padding-top: 0.14rem;
}

.last-arrow>img{
	max-width: 0.68rem;
}

.text-box-6{
	padding-top: 1.88rem;
}

.text-box-6 .travel-title{
	color: #fff;
	padding-bottom: 0.42rem;
}

.text-box-6 .travel-item{
	margin-bottom: 0.68rem;
}

.last-note:before{
	position: absolute;
    display: block;
    content: "";
    width: 0.46rem;
    height: 0.04rem;
    left: 50%;
    margin-left: -0.23rem;
    top: -0.2rem;
    z-index: 2;
    background: #fff;
}

.last-content-box{
	position: relative;
	min-height: 100%;
	height: auto;
	background: url("../images/8.png") no-repeat top center;
	background-size: cover;
}

.form-box{
	position: relative;
	height: 100%;
	overflow: hidden;
}

.img-box{
	position: relative;
	height: auto;
	max-width: 4.78rem;
	margin: 0 auto;
}

.img-box>img{
	position: relative;
	display: block;
	max-width: 100%;
}

.last-arrow-2{
	position: relative;
	max-width: 0.56rem;
	margin: 0 auto;
	padding-top: 0.67rem;
	height: auto;
}

.last-arrow-2>img{
	display: block;
	max-width: 100%;
}

.form-content{
	position: relative;
	height: auto;
	padding-top: 0.16rem;
}

.form-title{
	position: relative;
	font-size: 0.2rem;
	color: #FFFFFF;
	letter-spacing: 1px;
	height:auto;
	padding-bottom: 0.33rem;
	text-align: center;
}

.input-item{
	position: relative;
	height: auto;
	width: 3.583rem;
	height: 0.7rem;
	margin: 0 auto;
	background: url("../images/text/18.png") no-repeat bottom center;
	background-size: 100% auto;
	margin-bottom: 0.08rem;
}

input{
	border: none;
	outline: none;
	display: block;
	width: 100%;
	height: 100%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	text-align: center;
	font-size: 0.26rem;
	color: #BE9567;
	letter-spacing: 0.94px;
	background:none;
	
}

.icon{
	position: absolute;
	width: 0.3rem;
	height: auto;
	top: 0.32rem;
	right: 0.19rem;
}

.icon>img{
	display: block;
	max-width: 100%;
}

.form-msg{
	position: relative;
	border-top: 2px solid #BD966D; 
	border-bottom: 2px solid #BD966D;
	margin: 0 auto;
	margin-top: 0.42rem;
	text-align: center;
	height: 0.42rem;
	line-height: 0.42rem;
	font-size: 0.17rem;
	color: #BD9567;
	letter-spacing: 0;
	width: 5.43rem;
}

.form-btn{
	position: relative;
	width: 2rem;
	margin: 0 auto;
	margin-top: 0.31rem;
	height: 0.42rem;
	text-align: center;
	line-height: 0.42rem;
	font-size: 0.26rem;
	color: #BE9567;
	letter-spacing: 0.94px;
	border: 1px solid #BE9567;
}

.ib2{
	padding-top: 0.34rem;
}

.tb2{
	padding-top: 0.36rem;
	padding-bottom: 0.26rem;
	font-size: 0.22rem;
	width: 5.4rem;
}

/*font*/
@font-face{
	font-family: "enFont";
	src: url('../font/en.ttf') format('truetype');
}

input:-ms-input-placeholder{
    color: #BE9567;opacity:1;
}

input::-webkit-input-placeholder{
    color: #BE9567;opacity:1;
}

/**/

.text-box{
	position: absolute;
	width: 100%;
	text-align: center;
	height: auto;
	left: 0rem;
	top: 0rem;
}

.tb1{
	padding-top: 2.17rem;
}

.tb1>img{
	max-width: 3.367rem;
}

.tb2{
	padding-top: 2.84rem;
}

.tb2>img{
	max-width: 3.491rem;
}

.tb3{
	text-align: left;
	padding-top: 1.38rem;
	padding-left: 0.73rem;
}

.text-item{
	position: relative;
	height: auto;
	margin-bottom: 0.28rem;
}

.ti1 img{
	max-width: 3.591rem;
}

.ti2 img,.ti3 img{
	max-width: 4.625rem;
}

.tb4{
	padding-top: 3.53rem;
}

.tb4 .ti1 img{
	-webkit-transform: translateX(0.11rem);
	transform: translateX(0.11rem);
	max-width: 4.475rem;
}

.tb4 .ti2 img{
	max-width: 4.017rem;
}

.tb5{
	padding-top: 2.2rem;
	padding-left: 0rem;
	text-align: left;
}

.tb5>img{
	max-width: 3.791rem;
}

.tb6{
	padding-top: 2rem;
}

.tb6 .ti1 img{
	max-width: 2.565rem;
}

.tb6 .ti2 img{
	max-width: 2.406rem;
}

.tb6 .ti3 img{
	max-width: 2.961rem;
}

.tb6 .ti4 img{
	max-width: 2.264rem;
}

.tb6 .ti5 img{
	max-width: 2.612rem;
}

.tb7{
	padding-top: 2.43rem;
}

.tb7 .text-item{
	margin-bottom: 0.23rem;
}

.tb7 .ti1 img{
	max-width: 4.575rem;
}

.tb7 .ti2 img{
	-webkit-transform: translateX(-0.06rem);
	transform: translateX(-0.06rem);
	max-width: 4.508rem;
}

.tb7 .ti3 img{
	max-width: 1.725rem;
}

.tb8{
	position: relative;
	height: auto;
	text-align: center;
	padding-top: 0.38rem;
}

.tb8 img{
	max-width: 4.225rem;
}

.underMsg{
	position: relative;
    height: auto;
    text-align: center;
    font-size: 0.2rem;
    color: #fff;
    padding-top: 0.2rem;
}

#wantUI-alert-msg{
	text-align: center;
    line-height: 5em;
    color: #BE9567;
}

/*animate*/
.aniTtoB{
	-webkit-transform : translateY(-0.4rem);
	transform : translateY(-0.4rem);
	opacity: 0;
	-webkit-transition : -webkit-transform 1s linear 0.5s, opacity 1s linear 0.5s ;
	transition : -webkit-transform 1s linear 0.5s, opacity 1s linear 0.5s ;
}

.swiper-slide-active .aniTtoB{
	-webkit-transform : translateY(0rem);
	transform : translateY(0rem);
	opacity: 1;
}

.aniTtoB-1{
	-webkit-transform : translateY(-0.4rem);
	transform : translateY(-0.4rem);
	opacity: 0;
	-webkit-transition : -webkit-transform 1s linear 0.5s, opacity 1s linear 0.5s ;
	transition : -webkit-transform 1s linear 0.5s, opacity 1s linear 0.5s ;
}

.aniTtoB-2{
	-webkit-transform : translateY(-0.4rem);
	transform : translateY(-0.4rem);
	opacity: 0;
	-webkit-transition : -webkit-transform 1s linear 1.5s, opacity 1s linear 1.5s ;
	transition : -webkit-transform 1s linear 1.5s, opacity 1s linear 1.5s ;
}

.aniTtoB-3{
	-webkit-transform : translateY(-0.4rem);
	transform : translateY(-0.4rem);
	opacity: 0;
	-webkit-transition : -webkit-transform 1s linear 2.5s, opacity 1s linear 2.5s ;
	transition : -webkit-transform 1s linear 2.5s, opacity 1s linear 2.5s ;
}

.aniTtoB-4{
	-webkit-transform : translateY(-0.4rem);
	transform : translateY(-0.4rem);
	opacity: 0;
	-webkit-transition : -webkit-transform 1s linear 3.5s, opacity 1s linear 3.5s ;
	transition : -webkit-transform 1s linear 3.5s, opacity 1s linear 3.5s ;
}

.aniTtoB-5{
	-webkit-transform : translateY(-0.4rem);
	transform : translateY(-0.4rem);
	opacity: 0;
	-webkit-transition : -webkit-transform 1s linear 4.5s, opacity 1s linear 4.5s ;
	transition : -webkit-transform 1s linear 4.5s, opacity 1s linear 4.5s ;
}

.swiper-slide-active .aniTtoB-1,
.swiper-slide-active .aniTtoB-2,
.swiper-slide-active .aniTtoB-3,
.swiper-slide-active .aniTtoB-4,
.swiper-slide-active .aniTtoB-5{
	-webkit-transform : translateY(0rem);
	transform : translateY(0rem);
	opacity: 1;
}

.aniLtor-1{
	-webkit-transform : translateX(-0.4rem);
	transform : translateX(-0.4rem);
	opacity: 0;
	-webkit-transition : -webkit-transform 1s linear 0.5s, opacity 1s linear 0.5s ;
	transition : -webkit-transform 1s linear 0.5s, opacity 1s linear 0.5s ;
}

.aniLtor-2{
	-webkit-transform : translateX(-0.4rem);
	transform : translateX(-0.4rem);
	opacity: 0;
	-webkit-transition : -webkit-transform 1s linear 1s, opacity 1s linear 1s ;
	transition : -webkit-transform 1s linear 1s, opacity 1s linear 1s ;
}

.aniLtor-3{
	-webkit-transform : translateX(-0.4rem);
	transform : translateX(-0.4rem);
	opacity: 0;
	-webkit-transition : -webkit-transform 1s linear 1.5s, opacity 1s linear 1.5s ;
	transition : -webkit-transform 1s linear 1.5s, opacity 1s linear 1.5s ;
}

.swiper-slide-active .aniLtor-1,.swiper-slide-active .aniLtor-2,.swiper-slide-active .aniLtor-3{
	-webkit-transform : translateX(0rem);
	transform : translateX(0rem);
	opacity: 1;
}

.music{
	position: absolute;
	top: 0.3rem;
	right: 0.3rem;
	z-index: 101;
	width: 0.5rem;
	height: 0.5rem;
	overflow: hidden;
	border-radius: 50%;
	-webkit-animation:music 10s linear infinite;
	animation:music 10s linear infinite;
}

.music>img{
	display: block;
	max-width: 100%;
}

.music-paused{
	-webkit-animation-play-state:paused;
	animation-play-state:paused;
}

@-webkit-keyframes music{
	0%{
		-webkit-transform: rotate(0deg);
	}
	100%{
		-webkit-transform: rotate(359deg);
	}
}

@keyframes music{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(359deg);
	}
}

@-webkit-keyframes arrow{
	0%{
		-webkit-transform: translateY(-0.4rem);
	}
	100%{
		-webkit-transform: translateY(0rem);
	}
}

@keyframes arrow{
	0%{
		-webkit-transform: translateY(-0.4rem);
	}
	100%{
		-webkit-transform: translateY(0rem);
	}
}
