#tHeader{
	background: url("../images/background/bg_1.jpg") no-repeat center;
	height: 846px;
}

.view-box{
	position: relative;
	padding-top: 366px;
	background: url("../images/background/bg_2.jpg") no-repeat top center;
	height: 937px;
}

.view-nav{
	width: 1001px;
	margin: 0 auto;
	padding-top: 112px;
	height: 109px;
	line-height: 130px;
	+line-height: 109px;
	background: url("../images/jingdian/menu_jd.png") no-repeat bottom center;
}

.view-nav>li{
	float: left;
	margin-left:20px;
}

.view-nav>li.first{
	margin-left: 60px;
}

.view-nav>li:hover{
	cursor: pointer;
}

.view-intro{
	width: 950px;
	padding-left: 50px;
	margin: 0 auto;
	margin-top: 56px;
}

.view-bg{
	position: absolute;
	top: 366px;
	left: 0px;
	text-align: center;
	z-index: -1;
}

.food-box{
	background: url("../images/background/bg_4.jpg") no-repeat center;
	height: 1099px;
}

.food-wrap{
	width: 1000px;
	position: relative;
	margin: 0 auto;
}

.food-wrap>.food-box-content{
	position: absolute;
}

.food-box-content:hover{
	cursor: pointer;
}

.f1{
	top:687px;
	left: 1px;
}

.f2{
	left: 222px;
	top:487px;
}

.f3{
	top: 364px;
	left: 38px;
}

.f4{
	top: 638px;
	right: 0px;
}

.f5{
	top: 312px;
	right: 216px;
}

.more{
	position: absolute;
	right: 104px;
	top:364px;
}

.playing-box{
	background: url("../images/background/bg_5.jpg") no-repeat center;
	height: 1408px;
}

.playing-wrap{
	width: 1018px;
	margin: 0 auto;
	position: relative;
}

.playing-content{
	position: relative;
	height: auto;
}

.playing-content:hover{
	cursor: pointer;
}

.playing-wrap>a>div{
	float: left;
	margin-left: 6px;
}

.playing-wrap>a>.p1{
	margin-left: 0px;
	margin-top: 476px;
}

.p2{
	margin-top: 611px;
}

.p3{
	margin-top: 383px;
}

.p4{
	margin-top: 509px;
}

.price{
	width: 250px;
	text-align: center;
	bottom: 46px;
	font-size: 30px;
	color: #fef501;
	font-weight: 800;
	font-family: "SimHei";
	margin-top: -76px;
}

.product-box{
	background: url("../images/background/bg_6.jpg") no-repeat center;
	height: 1586px;
}

.product-wrap{
	position: relative;
	width: 1001px;
	margin: 0 auto;
	padding-top: 234px;
}

.product-nav{
	background: url("../images/chanpin/menu_cp.png") no-repeat bottom center;
	width: 360px;
	height: 90px;
	line-height: 120px;
	+line-height: 90px;
	margin: 0 auto;
	padding-top: 38px;
}

.product-nav>li{
	float: left;
	margin-left: 36px;
}

.product-nav>li:hover{
	cursor: pointer;
}

.product-nav>.pfirst{
	margin-left: 68px;
}

.product-content{
	margin-top: 36px;
	width: 1001px;
    height: 807px;
}

.product-list{
	float: left;
	position: relative;
}

.product-list:hover{
	cursor: pointer;
}

.price-box{
	position: absolute;
	bottom: 40px;
	left: 0px;
	width: 100%;
}

.price-box .price{
	font-size: 36px;
	padding-left: 10px;
	float: left;
	text-align: left;
	margin-top: 0px;
}

.booking{
	float: right;
	width: 145px;
	height: 46px;
}

.product-text{
	position: absolute;
	width: 100%;
	padding-left: 20px;
	+padding-left: 0px;
	bottom: -24px;
	color: #fff;
	font-size: 16px;
	font-weight: 800;
	font-family: "KaiTi";
	text-align: left;
	+margin-left: -242px;
}

.tibet-office{
	position: absolute;
	width: 100px;
	height: 100px;
	border-radius: 50px;
	bottom: -279px;
	left: 314px;
	z-index: 100;
}

.cTrip-office{
	position: absolute;
	width: 200px;
	height: 100px;
	border-radius: 50px;
	bottom: -279px;
	left: 548px;
	z-index: 100;
}

.tibet-office:hover,.cTrip-office:hover{
	cursor: pointer;
}

.hidden{
	display: none;
}

.clear{
	float: none;
	clear: both;
}

.mr5{
	margin-right: 5px;
}

