img{
	max-width: 100%;
	display: block;
}

a{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

/*content*/
header{
	position: relative;
	height: auto;
	max-width: 6.25rem;
	margin: 0 auto;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0.25rem;
	background: #000;
}

header:after{
	display: block;
	content: "";
	clear: both;
}

.left-logo{
	position: relative;
	height: auto;
	width: 1.7rem;
	float: left;
}

.menu{
	position: relative;
    float: right;
    height: 100%;
    line-height: 0.11rem;
    margin-top: -0.04rem;
}

.menu li{
	color : #666;
	font-size: 0.8rem;
	-webkit-transform: scale(1.3,1);
	transform: scale(1.3,1);
}

.nav-box{
	position: fixed;
	left: 0rem;
	top: 0rem;
	width: 100%;
	height: 100%;
	background: #000;
	z-index: 1000;
	opacity: 0;
	-webkit-transition : all 0.3s ease-in;
	transition : all 0.3s ease-in;
	-webkit-transform: translate3d(100%,0%,1px);
	transform: translate3d(100%,0%,1px);
}

.nav-active .nav-box{
	-webkit-transform: translate3d(0%,0%,1px);
	transform: translate3d(0%,0%,1px);
	opacity: 1;
}

.nav-wrapper{
	position: absolute;
	width: 100%;
	height: auto;
	left: 0rem;
	top: 50%;
	-webkit-transform: translate(0%,-50%);
	transform: translate(0%,-50%);
}

.nav-item{
	position: relative;
	height: auto;
	text-align: center;
	color: #ea7f1d;
	font-size: 0.25rem;
	font-family:'Source-Han-Lighc9456bed017b9f';
	margin-bottom: 0.858rem;
}

.ni-7{
	margin-bottom: 0rem;
}

#content{
	position: relative;
	height: auto;
	max-width: 6.25rem;
	margin: 0 auto;
	display: none;
}

.column{
	position: relative;
	height: auto;
}

.video{
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
}

.video iframe{
	width: 100%;
	height: 100%;
}

.playImg{
	position: relative;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.course{
	position: relative;
	height: auto;
}

.course-1{
	position: fixed;
	height: 100%;
	width: 100%;
	left: 0rem;
	top: 0rem;
	z-index: 1000;
	opacity: 0;
	-webkit-transition : all 0.3s ease-in;
	transition : all 0.3s ease-in;
	-webkit-transform: translate3d(100%,0%,1px);
	transform: translate3d(100%,0%,1px);
	overflow: hidden;
}

.course-active .course-1{
	-webkit-transform: translate3d(0%,0%,1px);
	transform: translate3d(0%,0%,1px);
	opacity: 1;
}

.course-wrapper{
	position: relative;
	height: auto;
}

.course-btn-items{
	position: absolute;
	left: 0rem;
	top: 0rem;
	width: 100%;
	height: 100%;
}

.items-wrapper{
	position: absolute;
	width: 1.25rem;
	height: 100%;
	top: 0rem;
	right: 0.625rem;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 1.783rem;
}

.course-btn-item{
	position: relative;
	height: 0.45rem;
	background: #f0813e;
	color: #313131;
	font-size: 0.21rem;
	font-family:'Century-Gothic-c943d4e4d17b9f';
	text-align: center;
	line-height: 0.45rem;
	margin-bottom: 1.792rem;
	z-index: 2;
}

.items-wrapper .course-btn-item:last-child{
	margin-bottom: 0rem;
}

.course-btn-back{
	position: absolute;
	height: 0.733rem;
	width: 4.817rem;
	left: 50%;
	margin-left: -2.4085rem;
	bottom: 0.4rem;
	text-align: center;
	line-height: 0.733rem;
	color: #f0813e;
	font-size: 0.25rem;
	font-family:'Century-Gothic-c943d4e4d17b9f';
	border: 1px solid #f0813e;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.course2-wrapper{
	position: absolute;
	left: 0rem;
	top: 0rem;
	width: 100%;
	height: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 4.283rem;
}

.course2-btn-item{
	position: relative;
	height: 0.4rem;
	width: 1.5rem;
	margin: 0 auto;
	margin-bottom: 2.502rem;
	text-align: center;
	line-height: 0.4rem;
	font-size: 0.17rem;
	color: #f0813e;
	font-family:'Century-Gothic-c943d4e4d17b9f';
	border: 1px solid #f0813e;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-weight: 700;
	overflow: hidden;
}

.c2-btn-2,.c2-btn-3{
	color: #797979;
	border: 1px solid #797979;
}

.detail-box{
	position: fixed;
	height: 100%;
	overflow: hidden;
	width: 100%;
	left: 0rem;
	top: 0rem;
	z-index: 2;
	-webkit-transition: -webkit-transform ease-out 0.6s;
	transition: transform ease-out 0.6s;
	-webkit-transform: translate3d(100%,0%,2px);
	transform: translate3d(100%,0%,2px);
}

.detail-active .detail-box{
	-webkit-transform: translate3d(0%,0%,2px);
	transform: translate3d(0%,0%,2px);
}

.detail-scroll{
	position: relative;
	height: auto;
	overflow: hidden;
}

.detail-btn{
	position: absolute;
	top: 6rem;
	right: 0.9rem;
	width: 2.133rem;
	height: 0.517rem;
	font-family:'Century-Gothic-c943d4e4d17b9f';
	text-align: center;
	font-size: 0.25rem;
	line-height: 0.517rem;
	color: #fff;
	border: 1px solid #fff;
}

.detail-btn-box{
	position: absolute;
	left: 0rem;
	width: 100%;
	height: auto;
	bottom: 2rem;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.date{
	position: relative;
	height: 0.7rem;
	width: 4.817rem;
	margin: 0 auto;
	background: #f0831e;
	color: #454545;
	font-family: 'Source-Han-Lighc9456bed017b9f';
	text-align: center;
	line-height: 0.7rem;
	font-size: 0.333rem;
}

.QR{
	position: relative;
	height: auto;
	width: 4.3rem;
	margin: 0 auto;
}

.QR img{
	margin: 0 auto;
}

.back{
	position: relative;
	height: 0.7rem;
	width: 4.817rem;
	margin: 0 auto;
	border: 1px solid #f0831e;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
	line-height: 0.7rem;
	color: #f0831e;
	font-family: 'Century-Gothic-c943d4e4d17b9f';
	font-size: 0.333rem;
	margin-top: 1.2rem;
}

.media-box{
	position: absolute;
	left: 0rem;
	top: 0rem;
	width: 100%;
	height: 100%;
}

.media-wrapper{
	position: relative;
	height: auto;
	padding: 0rem 0.541rem;
	padding-top: 3.042rem;
}

.media-wrapper:after{
	content: "";
	display: block;
	clear: both;
}

.media-item{
	position: relative;
	height: auto;
	max-width: 2.317rem;
	margin: 0 auto;
}

.media-wrapper>a{
	display: inline-block;
	margin-bottom: 0.8rem;
	width: 50%;
	float: left;
}

.job-btn{
	position: absolute;
	width: 4.817rem;
	height: 0.73rem;
	line-height: 0.73rem;
	left: 50%;
	bottom: 1.467rem;
	-webkit-transform: translate(-50%,0%);
	transform: translate(-50%,0%);
	text-align: center;
	background: #f0831e;
	color: #494949;
	font-size: 0.25rem;
}

.map-box{
	position: absolute;
	left: 0rem;
	top: 0rem;
	width: 100%;
	height: 6.4rem;
}

.map-bg{
	position: fixed;
	left: 0rem;
	top: 0rem;
	width: 100%;
	height: 100%;
	background: #494949;
	z-index: 1000;
	display: none;
}

.map-set{
	position: absolute;
	left: 0rem;
	top: 0rem;
	right: 0rem;
	bottom: 1rem;
}

.map-back{
	position: absolute;
	left: 0rem;
	bottom: 0rem;
	width: 100%;
	height: 1rem;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background: rgba(0,0,0,0.7);
	border-top: 1px solid #f0831e;
	text-align: center;
	line-height: 1rem;
	font-size: 0.25rem;
	color: #f0831e;
}

.selector-box{
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 4.817rem;
	margin: 0 auto;
	margin-top:2.6rem;
}

.selector{
	position: relative;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	height: 0.8rem;
	border: 1px solid #313131;
	line-height: 0.8rem;
	background: rgba(255,255,255,0.7);
}

.sel-item-2{
	margin-top: 0.1rem;
}

.selector-val,.selector-item{
	font-family:'Source-Han-Sansc94b3fcbf17b9f';
	font-size: 0.22rem;
	padding-left: 0.3rem;
}

.selector-item{
	border-bottom: 1px solid #313131;
}

.selector-wrapper{
	position: absolute;
	height: auto;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	top: 101%;
	left: 0rem;
	width: 100%;
	background: #fff;
	z-index : 2;
	border-left: 1px solid #313131;
	border-right: 1px solid #313131;
	border-bottom: 1px solid #313131;
	margin-left: -1px;
	margin-right: -1px;
}

.selector-wrapper .selector-item:last-child{
	border-bottom: none;
}

.mendian{
	height : 1.4rem;
	overflow: hidden;
}

.selector-icon{
	position: absolute;
	height: 0.2rem;
	width: 0.3rem;
	right: 0.3rem;
	top: 0.3rem;
}

.selector-btn{
	position: relative;
	height: 0.733rem;
	display: block;
	color: #fff;
	outline: none;
	border: none;
	width: 4.817rem;
	background: #313131;
	margin: 0 auto;
	margin-top: 0.68rem;
	font-family:'Source-Han-Sansc94b3fcbf17b9f';
	font-size: 0.22rem;
}

.footer-link-box{
	position: absolute;
	left: 0rem;
	bottom: 0rem;
	width: 100%;
	height: 3.5rem;
	z-index: 2;
}

.text-links{
	position: relative;
	height: auto;
}

.text-links:after{
	clear: both;
	content: "";
	display: block;
}

.text-items{
	position: relative;
	height: 0.96rem;
	float: left;
	width: 50%;
}

.text-item{
	position: relative;
	height: 0.2rem;
	width: 1.5rem;
	margin: 0 auto;
	margin-top: 0.32rem;
}

.text-item-right{
	-webkit-transform:translate(-0.32rem,0rem);
	transform:translate(-0.32rem,0rem);
}

.text-item-btm{
	margin-top: 0.12rem;
}

.icon-links{
	position: absolute;
	left: 50%;
	bottom: 0.4rem;
	height: 1rem;
	-webkit-transform: translate(-50%,0%);
	transform: translate(-50%,0%);
	width: 3rem;
}

.icon-links:after{
	clear: both;
	content: "";
	display: block;
}

.icon-item{
	position: relative;
	width: 0.67rem;
	height: 100%;
	float: left;
	margin-right: 0.1rem;
}

.last-item{
	margin-right: 0rem;
}

/*loading*/
.loading-container{
	position: fixed;
	height: 100%;
	left: 0rem;
	top: 0rem;
	width: 100%;
	background: #454545;
	z-index: 10;
}

.loading-wrapper{
	position: absolute;
	height: auto;
	top: 50%;
	left: 50%;
	width: 60%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

.loading-logo{
	position: absolute;
	margin: 0px auto;
	height: auto;
	left: -15%;
	top: 0rem;
	width: 0.9rem;
	-webkit-transition: left linear 0.1s;
	transition: left linear 0.1s;
}

.num{
	position: absolute;
    left: 0rem;
    top: -0.1rem;
    width: 0.6rem;
    color: #f0831e;
    font-size: 0.3rem;
    text-align: center;
}

.loading-box{
	position: relative;
	height: auto;
	margin-top: 0.4rem;
}

.loading-bar{
	position: relative;
	height: 100%;
	width: 0%;
	-webkit-transition: width linear 0.1s;
	transition: width linear 0.1s;
	/* background: #ffa438; */
}

@-webkit-keyframes rotate{
	0%{
		-webkit-transform: rotate(0deg);
	}

	100%{
		-webkit-transform: rotate(359deg);
	}
}

@keyframes rotate{
	0%{
		transform: rotate(0deg);
	}

	100%{
		transform: rotate(359deg);
	}
}

.QRcode{
	position: fixed;
	left: 0rem;
	top: 0rem;
	background: #454545;
	width: 100%;
	height: 100%;
	z-index: 1001;
	-webkit-transform: translate3d(0rem,0rem,2px);
	transform: translate3d(0rem,0rem,2px);
	display: none;
}

.QRwrapper{
	position: relative;
	width: 4.6rem;
	height: auto;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

.QRwrapper img{
	margin: 0 auto;
}

.QRtext{
	position: relative;
	height: auto;
	padding: 0.4rem 0rem;
	font-size: 0.3rem;
	color: #fff;
	text-align: center;
}

.Iknow{
	position: relative;
	height: 0.6rem;
	line-height: 0.6rem;
	width: 3.6rem;
	margin: 0 auto;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
	border: 1px solid #fff;
	color: #fff;
	font-size: 0.3rem;
}

/*fixed*/
.swiper-pagination{
	width: 100%;
	bottom: 0.4rem;
}

.swiper-pagination-bullet{
	background: #e8e8e8;
	margin-right: 0.2rem;
}

.BMapLib_SearchInfoWindow{
	background: #fff;
	padding: 0.2rem;
}

.BMapLib_nav_tab,.BMapLib_nav_tab_content,#BMapLib_trans0{
	display: none;
}