html,body{
	height: 100%;
	overflow: hidden;
	background: #ccc;
}

#container{
	position: relative;
	height: 100%;
	overflow: hidden;
	max-width: 6.25rem;
	margin: 0 auto;
}

.swiper-container,.swiper-wrapper,.swiper-slide{
	height: 100%;
}

.page-box{
	position: relative;
	min-height: 100%;
	height: auto;
	font-family:'PingFangSCbfed52d2e17b9f';
}

.bg-set{
	position: absolute;
	left: 0rem;
	top: 0rem;
	z-index: 0;
	height: auto;
	width: 100%;
}

.form-box{
	position: relative;
	height: auto;
	padding-bottom: 2rem;
}

.form-box>input{
	position: relative;
	display: block;
	outline: none;
	border: none;
	border-bottom: 1px solid #fff;
	text-align: center;
	margin: 0 auto;
	background: none;
	margin-bottom: 0.383rem;
	font-family: "Microsoft Yahei";
}

.next-btn{
	position: relative;
	color: #fff;
	outline: none;
	border: none;
}

.quest-box{
	position: relative;
	height: auto;
	width: 5.417rem;
	margin: 0 auto;
}

.quest-title{
	position: relative;
	height: auto;
	padding-top: 0.525rem;
	font-size: 0.33rem;
	color: #FFFFFF;
	letter-spacing: 0;
	line-height: 0.5rem;
}

.quest-items{
	position: relative;
	margin-top: 0.667rem;
	height: auto;
	padding-bottom: 2rem;
}

.sl_6 .quest-items{
	padding-bottom: 0rem;
}

.sl_6 .quest-items:last-child{
	padding-bottom: 2rem;
}

.quest-item{
	position: relative;
	height: auto;
	margin-bottom: 0.417rem;
}

.quest-items .quest-item:last-child{
	margin-bottom: 0rem;
}

.quest-status{
	position: absolute;
	left: 0.02rem;
	top: 0.02rem;
	border-radius: 50%;
	border: 2px solid #fff;
	width: 0.3rem;
	height: 0.3rem;
	text-align: center;
	line-height: 0.3rem;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.quest-status:after{
	display: block;
	position: absolute;
	content: "";
}

.quest-item[data-status="checked"] .quest-status:after{
	width: 0.08rem;
	height: 0.08rem;
	left: 50%;
	top: 50%;
	margin-left: -0.04rem;
	margin-top: -0.04rem;
	background: #fff;
	border-radius: 50%;
}

img{
	display: block;
	max-width: 100%;
}

.logo{
	position: relative;
	padding-top: 0.283rem;
	width: 2.247rem;
	margin: 0 auto;
}

.form-box{
	position: relative;
	height: auto;
	padding-top: 0.525rem;
	width: 5.417rem;
	margin: 0 auto;
}

.title{
	position: relative;
	height: auto;
	font-size: 0.333rem;
	color: #FFFFFF;
	letter-spacing: 0;
	line-height: 0.492rem;
	padding-bottom: 0.525rem;
}

input,#prop{
	position: relative;
	width: 3.649rem;
	margin: 0 auto;
	height: 0.634rem;
	outline: none;
	border: none;
	border-bottom: 1px solid #fff;
	font-size: 0.3rem;
	color: #FFFFFF;
	letter-spacing: 0;
	text-align: center;
}

#prop{
	line-height: 0.634rem;
}

#prop:after{
	position: relative;
	display: inline-block;
	content: "";
	width: 0.213rem;
	height: 0.108rem;
	background: url("../images/arrow.png") no-repeat top center;
	background-size: cover;
	-webkit-transform: -webkit-translate(0rem,-0.046rem);
	transform: translate(0rem,-0.046rem);
}

.btn-box{
	position: absolute;
	z-index: 10;
	bottom: 0rem;
	width: 5.344rem;
	height: 0.695rem;
	left: 50%;
	margin-left: -2.672rem;
	padding-bottom: 0.66rem;
}

.first-btn-box{
	margin-left: -2.1135rem;
	width: 4.227rem;
}

button{
	position: relative;
	outline: none;
	border: none;
	width: 100%;
	height: 100%;
	background: #0080CC;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
	border-radius: 4px;
	font-size: 0.267rem;
	color: #FFFFFF;
	letter-spacing: 0;
}

.quest-input{
	position: relative;
	height: 1.333rem;
	border: 1px solid #FFFFFF;
	border-radius: 4px;
	margin-top: 0.15rem;
}

.textarea{
	position: relative;
	display: block;
	outline: none;
	border: none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	background: none;
	width: 100%;
	height: 100%;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	padding: 0.12rem;
	color: #fff;
	font-size: 0.22rem;
	font-family: "Microsoft Yahei";
}

.dialog{
	position: fixed;
	left: 0rem;
	top: 0rem;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
	z-index: 1000;
}

.select-box{
	position: absolute;
	width: 4rem;
	height: 2.4rem;
	left: 50%;
	top: 50%;
	margin-left: -2rem;
	margin-top: -1.2rem;
}

.select-item,.select-title{
	position: relative;
	height: 0.6rem;
	text-align: center;
	color: #222;
	font-size: 0.25rem;
	line-height: 0.6rem;
	-webkit-box-sizing : border-box;
	box-sizing : border-box;
	background: #fff;
}

.select-title{
	background: #0080CC;
	color: #fff;
}

.hide{
	display: none;
}

input::-webkit-input-placeholder{
	color: #fff;
	font-family:'PingFangSCbfed52d2e17b9f' !important;
}

.quest-text{
	position: relative;
	height: auto;
	font-size: 0.3rem;
	color: #FFFFFF;
	letter-spacing: 0;
	padding-left: 0.647rem;
}

.new-quest-title{
	position: relative;
	height: auto;
	font-size: 0.33rem;
	color: #FFFFFF;
	letter-spacing: 0;
	text-align: center;
	padding-top: 0.667rem;
}

.new-quest-title:before{
	position: relative;
	display: inline-block;
	content: "";
	height: 0.05rem;
	width: 2.1rem;
	background: url("../images/left.png") no-repeat top center;
	-webkit-transform : -webkit-translate(0rem,-0.1rem);
	transform : translate(0rem,-0.1rem);
}

.new-quest-title:after{
	position: relative;
	display: inline-block;
	content: "";
	height: 0.05rem;
	width: 2.1rem;
	background: url("../images/right.png") no-repeat top center;
	-webkit-transform : -webkit-translate(0rem,-0.1rem);
	transform : translate(0rem,-0.1rem);
}