html,body{
	height: 100%;
}

.container{
	position: relative;
	height: 100%;
	overflow: hidden;
	max-width: 6.25rem;
	margin: 0 auto;
}

.p-bg{
	position: relative;
	height: 100%;
	/* background: url("../images/bg.jpg?ver=1.02") no-repeat; */
	z-index: 0;
}

.wrapper{
	position: absolute;
	top: 0rem;
	left: 0rem;
	width: 400%;
	height: 100%;
	z-index: 1;
	-webkit-transition: -webkit-transform 0.3s ease-out;
	transition: transform 0.3s ease-out;
}

.wrapper[data-id="2"]{
	-webkit-transform: translate(-25%,0%);
	transform: translate(-25%,0%);
}

.wrapper[data-id="3"]{
	-webkit-transform: translate(-50%,0%);
	transform: translate(-50%,0%);
}

.wrapper:after{
	content: "";
	display: block;
	clear: both;
}

.column{
	position: relative;
	float: left;
	width: 25%;
	height: 100%;
	overflow: hidden;
}

.content{
	position: relative;
	height: 100%;
}

.content3{
	overflow: auto;
}

.choose-img{
	position: absolute;
	width: 100%;
	height: auto;
}

.box-show{
	position: absolute;
	width: 6.25rem;
	height: auto;
	z-index: 2;
	left: 50%;
	top: 0rem;
	-webkit-transform: translate(-50%,0%);
	transform: translate(-50%,0%);
}

.border{
	position: absolute;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	z-index: 3;
	-webkit-tap-highlight-color : rgba(0,0,0,0);
}

.outer{
	position: relative;
	height: 100%;
	display: block;
}

#control-logo{
	position: absolute;
	z-index: 3;
	right: 0rem;
	top: 0rem;
	width: 100%;
	height: 100%;
}

.choose{
	position: absolute;
	width: 6.25rem;
	height: auto;
	left: 50%;
	bottom: -0.44rem;
	z-index: 4;
	-webkit-transform: translate(-50%,0%);
	transform: translate(-50%,0%);
}

.bg-bt{
	position: absolute;
	z-index: 0;
	left: 0rem;
	bottom: 0rem;
	width: 100%;
	height: 1.4rem;
}

.choose-img{
	position: relative;
	height: auto;
	z-index: 1;
}

.choose-wrapper{
	position: relative;
	width: 5rem;
	margin: 0 auto;
	height: auto;
}

#file{
	display: none;
}

.img-show{
	position: absolute;
	z-index: 1;
	width: 100%;
	height: auto;
	left: 0rem;
	top: 1.976rem;
}

.handle-wrapper{
	position: relative;
	width: 5.261rem;
	margin: 0 auto;
	height: auto;
}

#canvas{
	position: relative;
	max-width: 100%;
	height: auto;
}

.fn{
	position: absolute;
	left: 50%;
	width: 6.25rem;
	margin-left: -3.125rem;
	bottom: 0.3rem;
	z-index: 5;
}

.next{
	position: absolute;
	height: 100%;
	width: 0.8rem;
	right: 1.15rem;
	top: 0rem;
}

.prev{
	position: absolute;
	height: 100%;
	width: 0.8rem;
	left: 1.2rem;
	top: 0rem;
}

.notice{
	position: absolute;
	width: 6.25rem;
	left: 50%;
	bottom: 0rem;
	z-index: 2;
	margin-left: -3.125rem;
}

.notice-wrapper{
	position: relative;
	height: auto;
	width: 6.25rem;
	margin: 0 auto;
	margin-bottom: -0.46rem;
	height: 1.483rem;
	background: url("../images/notice.png?ver=1.04") no-repeat;
	background-size: cover;
}

img{
	display: block;
	max-width: 100%;
	z-index: 1;
}