body{
	background: #f3f3f3;
}

#content{
	margin-top: 10px;
	padding: 0px 20px;
	height: auto;
}

#content>div{
	border: 1px solid #e0e0e0;
}

.comment-box{
	padding: 12px 20px 0px 20px;
	height: auto;
	background: #fff;
}

#comment{
	width: 100%;
	min-height: 360px;
	border: none;
	outline: none;
	overflow: auto;
	font-size: 28px;
}

.config-box{
	box-shadow: 0px -1px 0px #e0e0e0;
	height: 72px;
	line-height: 72px;
	text-align: right;
	background: #fff;
}

#submit,#cancel{
	width: 100px;
	height: 48px;
	background: none;
	border:none;
	font-size: 24px;
	border-radius: 4px;
}

#submit{
	background: #fc6023;
	color: #fff;
	margin-right: 16px;
	margin-left: 12px;
}

#cancel{
	border: 1px solid #666;
	color: #333;
	background: #fff;
}


/*480*/
@media screen and (max-width:480px){
	#content{
		padding: 0px 15px;
	}

	.comment-box{
		padding: 9px 15px 0px 15px;
	}

	#comment{
		min-height: 270px;
		font-size: 21px;
	}

	.config-box{
		height: 54px;
		line-height: 54px;
	}

	#submit,#cancel{
		width: 75px;
		height: 36px;
		font-size: 18px;
		border-radius: 3px;
	}

	#submit{
		margin-right: 12px;
		margin-left: 9px;
	}
}

/*360*/
@media screen and (max-width:360px){
	#content{
		padding: 0px 11.25px;
	}

	.comment-box{
		padding: 6.75px 11.25px 0px 11.25px;
	}

	#comment{
		min-height: 202.5px;
		font-size: 15.75px;
	}

	.config-box{
		height: 40.5px;
		line-height: 40.5px;
	}

	#submit,#cancel{
		width: 56.25px;
		height: 27px;
		font-size: 13.5px;
		border-radius: 2.25px;
	}

	#submit{
		margin-right: 9px;
		margin-left: 6.75px;
	}
}


/*320*/
@media screen and (max-width:320px){
	#content{
		padding: 0px 10px;
	}

	.comment-box{
		padding: 6px 10px 0px 10px;
	}

	#comment{
		min-height: 180px;
		font-size: 14px;
	}

	.config-box{
		height: 36px;
		line-height: 36px;
	}

	#submit,#cancel{
		width: 50px;
		height: 24px;
		font-size: 12px;
		border-radius: 2px;
	}

	#submit{
		margin-right: 8px;
		margin-left: 6px;
	}
}